Flow House Temps 2 20251116T1033.json
[
    {
        "id": "fcfc91b57743def2",
        "type": "tab",
        "label": "Flow House Temps 2.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "567ff7df1d40a8c3",
        "type": "mqtt in",
        "z": "fcfc91b57743def2",
        "name": "Vultr2_KTB-MBP_house_weather_sensors",
        "topic": "KTBMES/+/sensors/house_weather_sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d45c3dec4c4a6843",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "39670a68ed97040d",
                "f8755b31eb267c2c",
                "69fb115528cb374d",
                "563fa6b603ccf8fc",
                "304ff3513237f2b3",
                "62522feb021fab94"
            ]
        ]
    },
    {
        "id": "39670a68ed97040d",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "MQTT Full Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "f8755b31eb267c2c",
        "type": "function",
        "z": "fcfc91b57743def2",
        "name": "get_name_and_temperature",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    temperature_F: msg.payload.temperature_F\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "858f7adb43c9dac3",
                "c88293d4f85e33f5"
            ]
        ]
    },
    {
        "id": "858f7adb43c9dac3",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "Name and Temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 420,
        "wires": []
    },
    {
        "id": "c88293d4f85e33f5",
        "type": "function",
        "z": "fcfc91b57743def2",
        "name": "Parse_into_devices_temperature",
        "func": "if (msg.payload.device_name) {\n    let temp = msg.payload.temperature_F;  // Store temperature first\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = temp;\n\n    switch (deviceName) {\n        case \"LIVING_ROOM\":\n            return [msg, null, null, null];\n        case \"DECK\":\n            return [null, msg, null, null];\n        case \"SHRINE_ROOM\":\n            return [null, null, msg, null];\n        case \"PORCH\":\n            return [null, null, null, msg];\n    }\n}\nreturn null;\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 500,
        "wires": [
            [
                "2872f10a5fd237e1",
                "1d9e9c25906392f5",
                "4227398b89de0b9a"
            ],
            [
                "2872f10a5fd237e1",
                "729e3e9b1d07d3f2",
                "94850cb6d4161617"
            ],
            [
                "2872f10a5fd237e1",
                "0272836d0472d099",
                "be0b7ae315473026"
            ],
            [
                "2872f10a5fd237e1",
                "339b66c3d50a6394",
                "d35e1c0233ba0516"
            ]
        ]
    },
    {
        "id": "2872f10a5fd237e1",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "Gauge and Chart Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 460,
        "wires": []
    },
    {
        "id": "87905368e7b5d97d",
        "type": "function",
        "z": "fcfc91b57743def2",
        "name": "Parse_into_devices_humidity",
        "func": "if (msg.payload.device_name) {\n    let hum = msg.payload.humidity;  // Store temperature first\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = hum;\n\n    switch (deviceName) {\n        case \"LIVING_ROOM\":\n            return [msg, null, null];\n        case \"PATIO\":\n            return [null, msg, null];\n        case \"SHRINE_ROOM\":\n            return [null, null, msg];\n    }\nreturn null\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1060,
        "wires": [
            [
                "ef2119774e2e617c",
                "7ec623954c3d9c8b",
                "54fd41a2ff1c6a77"
            ],
            [
                "ef2119774e2e617c",
                "96f695939d6dafd5",
                "b241e4cfa261283c"
            ],
            [
                "ef2119774e2e617c",
                "bb52ed58171394e2",
                "dd7ab6a64ded78cd"
            ]
        ]
    },
    {
        "id": "ef2119774e2e617c",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "Humidity Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1060,
        "wires": []
    },
    {
        "id": "69fb115528cb374d",
        "type": "function",
        "z": "fcfc91b57743def2",
        "name": "get_name_and_humidty",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    humidity: msg.payload.humidity\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 900,
        "wires": [
            [
                "ca0be916e44353b6",
                "87905368e7b5d97d"
            ]
        ]
    },
    {
        "id": "ca0be916e44353b6",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "Name and Humidit",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 960,
        "wires": []
    },
    {
        "id": "563fa6b603ccf8fc",
        "type": "function",
        "z": "fcfc91b57743def2",
        "name": "get_timestamp",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    time: msg.payload.time\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [
            [
                "66fa3934e1ffcd16",
                "ed93d91a233aa390"
            ]
        ]
    },
    {
        "id": "ed93d91a233aa390",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "TimeStamp Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "66fa3934e1ffcd16",
        "type": "function",
        "z": "fcfc91b57743def2",
        "name": "Parse_into_devices_for_output",
        "func": "if (msg.payload.device_name) {\n    let time = msg.payload.time.substring(0, 16)\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = time;\n\n    switch (deviceName) {\n        case \"LIVING_ROOM\":\n            return [msg, null, null, null];\n        case \"DECK\":\n            return [null, msg, null, null];\n        case \"SHRINE_ROOM\":\n            return [null, null, msg, null];\n        case \"PORCH\":\n            return [null, null, null, msg];\n    }\n}\nreturn null;\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 160,
        "wires": [
            [
                "662bc543eb3f15ca"
            ],
            [
                "965e7c1d7a5597a7"
            ],
            [
                "59479fc95aa4dcf3"
            ],
            [
                "fed4a5aec8d6aa16"
            ]
        ]
    },
    {
        "id": "662bc543eb3f15ca",
        "type": "ui_text",
        "z": "fcfc91b57743def2",
        "group": "027eb46d65591c04",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "LIVING ROOM TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "965e7c1d7a5597a7",
        "type": "ui_text",
        "z": "fcfc91b57743def2",
        "group": "42c67c9f328e0e16",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "PATIO TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "59479fc95aa4dcf3",
        "type": "ui_text",
        "z": "fcfc91b57743def2",
        "group": "be0945614af5eb4e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "SHRINEROOM TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "fed4a5aec8d6aa16",
        "type": "ui_text",
        "z": "fcfc91b57743def2",
        "group": "714d6e7adb663e01",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "PORCH TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "1d9e9c25906392f5",
        "type": "ui_gauge",
        "z": "fcfc91b57743def2",
        "name": "LIVING ROOM TEMP",
        "group": "027eb46d65591c04",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Living Room Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 540,
        "wires": []
    },
    {
        "id": "729e3e9b1d07d3f2",
        "type": "ui_gauge",
        "z": "fcfc91b57743def2",
        "name": "DECK-B TEMP",
        "group": "42c67c9f328e0e16",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Deck Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 640,
        "wires": []
    },
    {
        "id": "0272836d0472d099",
        "type": "ui_gauge",
        "z": "fcfc91b57743def2",
        "name": "SHRINE ROOM TEMP",
        "group": "be0945614af5eb4e",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Shrine Room Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 720,
        "wires": []
    },
    {
        "id": "339b66c3d50a6394",
        "type": "ui_gauge",
        "z": "fcfc91b57743def2",
        "name": "PORCH TEMP",
        "group": "714d6e7adb663e01",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Porch Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 800,
        "wires": []
    },
    {
        "id": "7ec623954c3d9c8b",
        "type": "ui_gauge",
        "z": "fcfc91b57743def2",
        "name": "LIVING ROOM HUMIDITY",
        "group": "027eb46d65591c04",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living Room Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 1120,
        "wires": []
    },
    {
        "id": "96f695939d6dafd5",
        "type": "ui_gauge",
        "z": "fcfc91b57743def2",
        "name": "DECK HUMIDITY",
        "group": "42c67c9f328e0e16",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Deck Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1220,
        "wires": []
    },
    {
        "id": "bb52ed58171394e2",
        "type": "ui_gauge",
        "z": "fcfc91b57743def2",
        "name": "SHRINE ROOM HUMIDITY",
        "group": "be0945614af5eb4e",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Shrine Room Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 1320,
        "wires": []
    },
    {
        "id": "4227398b89de0b9a",
        "type": "ui_chart",
        "z": "fcfc91b57743def2",
        "name": "LIVING ROOM TEMP",
        "group": "027eb46d65591c04",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Living Room Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d35e1c0233ba0516",
        "type": "ui_chart",
        "z": "fcfc91b57743def2",
        "name": "PORCH TEMP",
        "group": "714d6e7adb663e01",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Porch Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#027acf",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "be0b7ae315473026",
        "type": "ui_chart",
        "z": "fcfc91b57743def2",
        "name": "SHRINE ROOM TEMP",
        "group": "be0945614af5eb4e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "ShrineRoom Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f6e204",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "94850cb6d4161617",
        "type": "ui_chart",
        "z": "fcfc91b57743def2",
        "name": "DECK-B TEMP",
        "group": "42c67c9f328e0e16",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Deck Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0bf0f4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "54fd41a2ff1c6a77",
        "type": "ui_chart",
        "z": "fcfc91b57743def2",
        "name": "LIVING ROOM HUMIDITY",
        "group": "027eb46d65591c04",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Living Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "b241e4cfa261283c",
        "type": "ui_chart",
        "z": "fcfc91b57743def2",
        "name": "DECK HUMIDITY",
        "group": "42c67c9f328e0e16",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Deck Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "dd7ab6a64ded78cd",
        "type": "ui_chart",
        "z": "fcfc91b57743def2",
        "name": "SHRINE ROOM HUMIDITY",
        "group": "be0945614af5eb4e",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Shrine Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "304ff3513237f2b3",
        "type": "function",
        "z": "fcfc91b57743def2",
        "name": "get_name_and_battery_status",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    battery_ok: msg.payload.battery_ok\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1460,
        "wires": [
            [
                "1cb14364c60c7626",
                "bba3bc49304d88cb"
            ]
        ]
    },
    {
        "id": "1cb14364c60c7626",
        "type": "function",
        "z": "fcfc91b57743def2",
        "name": "Parse_into_devices_battery_status",
        "func": "if (!msg.payload || !msg.payload.device_name) return null;\n\nconst deviceMap = {\n    \"LIVING_ROOM\": 0,\n    \"PATIO\": 1,\n    \"SHRINE_ROOM\": 2,\n    \"PORCH\": 3\n};\n\nconst deviceName = msg.payload.device_name.toUpperCase();\nconst index = deviceMap[deviceName];\n\nif (index === undefined) return null;\n\nconst batteryValue = msg.payload.battery_ok;\nlet normalizedValue;\n\n// String Handling\nif (typeof batteryValue === \"string\") {\n    const cleanValue = batteryValue.trim().toLowerCase();\n    \n    if (cleanValue === \"1\" || cleanValue === \"true\") {\n        normalizedValue = true;\n    } \n    else if (cleanValue === \"0\" || cleanValue === \"false\") {\n        normalizedValue = false;\n    } \n    else {\n        normalizedValue = false;\n        node.warn(`Invalid string value for battery_ok: \"${batteryValue}\"`);\n    }\n}\n\n// Number Handling\nelse if (typeof batteryValue === \"number\") {\n    if (batteryValue === 1) {\n        normalizedValue = true;\n    } \n    else if (batteryValue === 0) {\n        normalizedValue = false;\n    } \n    else {\n        normalizedValue = false;\n        node.warn(`Invalid numeric value for battery_ok: ${batteryValue}`);\n    }\n}\n\n// Boolean Handling\nelse if (typeof batteryValue === \"boolean\") {\n    normalizedValue = batteryValue;\n}\n\n// Invalid Types\nelse {\n    normalizedValue = false;\n    node.warn(`Invalid type for battery_ok: ${typeof batteryValue}`);\n}\n\n// Create new message object\nconst newmsg = { ...msg, payload: normalizedValue };\n\n// Route message\nconst outputs = [null, null, null, null];\noutputs[index] = newmsg;\nreturn outputs;\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1580,
        "wires": [
            [
                "e177b6e4a4bddb7c"
            ],
            [
                "e177b6e4a4bddb7c"
            ],
            [
                "e177b6e4a4bddb7c"
            ],
            [
                "e177b6e4a4bddb7c"
            ]
        ]
    },
    {
        "id": "e177b6e4a4bddb7c",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "Battery Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1580,
        "wires": []
    },
    {
        "id": "bba3bc49304d88cb",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "Name_and_Battery",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1460,
        "wires": []
    },
    {
        "id": "62522feb021fab94",
        "type": "debug",
        "z": "fcfc91b57743def2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "d45c3dec4c4a6843",
        "type": "mqtt-broker",
        "name": "n-vultr2",
        "broker": "45.63.82.34",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "027eb46d65591c04",
        "type": "ui_group",
        "name": "LIVING ROOM",
        "tab": "248ddb2a9a2b9c17",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42c67c9f328e0e16",
        "type": "ui_group",
        "name": "DECK",
        "tab": "248ddb2a9a2b9c17",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be0945614af5eb4e",
        "type": "ui_group",
        "name": "SHRINE ROOM",
        "tab": "248ddb2a9a2b9c17",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "714d6e7adb663e01",
        "type": "ui_group",
        "name": "PORCH",
        "tab": "248ddb2a9a2b9c17",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "248ddb2a9a2b9c17",
        "type": "ui_tab",
        "name": "House Temps All Up",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]