Flow House Temps.json
[
    {
        "id": "8ee21268964a9117",
        "type": "tab",
        "label": "Flow House Temps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd6d3a45bb062065",
        "type": "mqtt in",
        "z": "8ee21268964a9117",
        "name": "Vultr2_KTB-MBP_house_weather_sensors",
        "topic": "KTBMES/KTBCS_MBP/sensors/house_weather_sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd0c7c3266a0ffe8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "f51a21a873a414e5",
                "a574be7d910b84d1",
                "75055cc26c975fe0",
                "74fb63f3475d7227"
            ]
        ]
    },
    {
        "id": "f51a21a873a414e5",
        "type": "debug",
        "z": "8ee21268964a9117",
        "name": "MQTT Full Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "a574be7d910b84d1",
        "type": "function",
        "z": "8ee21268964a9117",
        "name": "get_name_and_temperature",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    temperature_F: msg.payload.temperature_F\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "5d09a012967956b5",
                "7b0e7147d8caf07b"
            ]
        ]
    },
    {
        "id": "5d09a012967956b5",
        "type": "debug",
        "z": "8ee21268964a9117",
        "name": "Name and Temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "7b0e7147d8caf07b",
        "type": "function",
        "z": "8ee21268964a9117",
        "name": "Parse_into_devices_temperature",
        "func": "if (msg.payload.device_name) {\n    let temp = msg.payload.temperature_F;  // Store temperature first\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = temp;\n\n    switch (deviceName) {\n        case \"LIVINGROOM-C\":\n            return [msg, null, null, null];\n        case \"PATIO-B\":\n            return [null, msg, null, null];\n        case \"SHRINEROOM-A\":\n            return [null, null, msg, null];\n        case \"PORCH-B\":\n            return [null, null, null, msg];\n    }\n}\nreturn null;\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 480,
        "wires": [
            [
                "868fa3219d5a72d5",
                "ef367e167a38817d",
                "46dbd35df068075a"
            ],
            [
                "868fa3219d5a72d5",
                "d007f7ae520f0afb",
                "6e58f245696a7067"
            ],
            [
                "868fa3219d5a72d5",
                "d7357c1a2a79320a",
                "aa4b259d94681a4e"
            ],
            [
                "868fa3219d5a72d5",
                "23a2d33409ea7811",
                "d0cee4895e404abc"
            ]
        ]
    },
    {
        "id": "868fa3219d5a72d5",
        "type": "debug",
        "z": "8ee21268964a9117",
        "name": "Gauge and Chart Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "ef367e167a38817d",
        "type": "ui_gauge",
        "z": "8ee21268964a9117",
        "name": "LIVING ROOM TEMP",
        "group": "8c6f1104c304021b",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Living Room Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "d007f7ae520f0afb",
        "type": "ui_gauge",
        "z": "8ee21268964a9117",
        "name": "PATIO-B TEMP",
        "group": "7134017ae4fdaba0",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Patio Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "d7357c1a2a79320a",
        "type": "ui_gauge",
        "z": "8ee21268964a9117",
        "name": "SHRINE ROOM TEMP",
        "group": "86187d38f38cfe12",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Shrine Room Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "23a2d33409ea7811",
        "type": "ui_gauge",
        "z": "8ee21268964a9117",
        "name": "PORCH TEMP",
        "group": "78b7e4730c59e456",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Porch Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "46dbd35df068075a",
        "type": "ui_chart",
        "z": "8ee21268964a9117",
        "name": "LIVING ROOM TEMP",
        "group": "8c6f1104c304021b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Living Room Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d0cee4895e404abc",
        "type": "ui_chart",
        "z": "8ee21268964a9117",
        "name": "PORCH TEMP",
        "group": "78b7e4730c59e456",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Porch Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#027acf",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "aa4b259d94681a4e",
        "type": "ui_chart",
        "z": "8ee21268964a9117",
        "name": "SHRINE ROOM TEMP",
        "group": "86187d38f38cfe12",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "ShrineRoom Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f6e204",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6e58f245696a7067",
        "type": "ui_chart",
        "z": "8ee21268964a9117",
        "name": "PATIO-B TEMP",
        "group": "7134017ae4fdaba0",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Patio Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0bf0f4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "7e3548d8c3cc7bee",
        "type": "function",
        "z": "8ee21268964a9117",
        "name": "Parse_into_devices_humidity",
        "func": "if (msg.payload.device_name) {\n    let hum = msg.payload.humidity;  // Store temperature first\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = hum;\n\n    switch (deviceName) {\n        case \"LIVINGROOM-C\":\n            return [msg, null, null];\n        case \"PATIO-B\":\n            return [null, msg, null];\n        case \"SHRINEROOM-A\":\n            return [null, null, msg];\n    }\nreturn null\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 940,
        "wires": [
            [
                "a5cbd764bfcff62c",
                "55a6450ae82db44f",
                "d7365f1afa081171"
            ],
            [
                "a5cbd764bfcff62c",
                "132cc1b3157edf0e",
                "6564d2d831bcd456"
            ],
            [
                "a5cbd764bfcff62c",
                "6f2a30e267ff2e42",
                "4598b91c32bc3f37"
            ]
        ]
    },
    {
        "id": "a5cbd764bfcff62c",
        "type": "debug",
        "z": "8ee21268964a9117",
        "name": "Humidity Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 940,
        "wires": []
    },
    {
        "id": "75055cc26c975fe0",
        "type": "function",
        "z": "8ee21268964a9117",
        "name": "get_name_and_humidty",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    humidity: msg.payload.humidity\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 600,
        "wires": [
            [
                "22370024fdd2409c",
                "7e3548d8c3cc7bee"
            ]
        ]
    },
    {
        "id": "22370024fdd2409c",
        "type": "debug",
        "z": "8ee21268964a9117",
        "name": "Name and Humidit",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "55a6450ae82db44f",
        "type": "ui_gauge",
        "z": "8ee21268964a9117",
        "name": "LIVING ROOM HUMIDITY",
        "group": "8c6f1104c304021b",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living Room Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1000,
        "wires": []
    },
    {
        "id": "d7365f1afa081171",
        "type": "ui_chart",
        "z": "8ee21268964a9117",
        "name": "LIVING ROOM HUMIDITY",
        "group": "8c6f1104c304021b",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Living Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "132cc1b3157edf0e",
        "type": "ui_gauge",
        "z": "8ee21268964a9117",
        "name": "PATIO HUMIDITY",
        "group": "7134017ae4fdaba0",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Patio Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 1100,
        "wires": []
    },
    {
        "id": "6564d2d831bcd456",
        "type": "ui_chart",
        "z": "8ee21268964a9117",
        "name": "PATIO HUMIDITY",
        "group": "7134017ae4fdaba0",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Patio Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "6f2a30e267ff2e42",
        "type": "ui_gauge",
        "z": "8ee21268964a9117",
        "name": "SHRINE ROOM HUMIDITY",
        "group": "86187d38f38cfe12",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Shrine Room Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4598b91c32bc3f37",
        "type": "ui_chart",
        "z": "8ee21268964a9117",
        "name": "SHRINE ROOM HUMIDITY",
        "group": "86187d38f38cfe12",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Shrine Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "74fb63f3475d7227",
        "type": "function",
        "z": "8ee21268964a9117",
        "name": "get_timestamp",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    time: msg.payload.time\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "091e128ea86f5041",
                "daaaa924e25bdb2f"
            ]
        ]
    },
    {
        "id": "daaaa924e25bdb2f",
        "type": "debug",
        "z": "8ee21268964a9117",
        "name": "TimeStamp Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "091e128ea86f5041",
        "type": "function",
        "z": "8ee21268964a9117",
        "name": "Parse_into_devices_temperature",
        "func": "if (msg.payload.device_name) {\n    let time = msg.payload.time.substring(0, 16)\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = time;\n\n    switch (deviceName) {\n        case \"LIVINGROOM-C\":\n            return [msg, null, null, null];\n        case \"PATIO-B\":\n            return [null, msg, null, null];\n        case \"SHRINEROOM-A\":\n            return [null, null, msg, null];\n        case \"PORCH-B\":\n            return [null, null, null, msg];\n    }\n}\nreturn null;\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 140,
        "wires": [
            [
                "5315179aaf5e98a5"
            ],
            [
                "ccd06abb1140c205"
            ],
            [
                "bc35449aa713d48e"
            ],
            [
                "4f9bad689c841267"
            ]
        ]
    },
    {
        "id": "5315179aaf5e98a5",
        "type": "ui_text",
        "z": "8ee21268964a9117",
        "group": "8c6f1104c304021b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "LIVING ROOM TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "ccd06abb1140c205",
        "type": "ui_text",
        "z": "8ee21268964a9117",
        "group": "7134017ae4fdaba0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "PATIO TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "bc35449aa713d48e",
        "type": "ui_text",
        "z": "8ee21268964a9117",
        "group": "86187d38f38cfe12",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "SHRINEROOM TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 140,
        "wires": []
    },
    {
        "id": "4f9bad689c841267",
        "type": "ui_text",
        "z": "8ee21268964a9117",
        "group": "78b7e4730c59e456",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "PORCH TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "dd0c7c3266a0ffe8",
        "type": "mqtt-broker",
        "name": "n-vultr2",
        "broker": "n-vultr2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8c6f1104c304021b",
        "type": "ui_group",
        "name": "LIVING ROOM",
        "tab": "c105c0839a42fd56",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7134017ae4fdaba0",
        "type": "ui_group",
        "name": "PATIO",
        "tab": "c105c0839a42fd56",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86187d38f38cfe12",
        "type": "ui_group",
        "name": "SHRINE ROOM",
        "tab": "c105c0839a42fd56",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78b7e4730c59e456",
        "type": "ui_group",
        "name": "PORCH",
        "tab": "c105c0839a42fd56",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c105c0839a42fd56",
        "type": "ui_tab",
        "name": "House Temps All Up",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]