Flow House Energy 1.json
[
    {
        "id": "b50bd6e8837e1b4e",
        "type": "tab",
        "label": "Flow House Energy 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c31a7beaae9408f8",
        "type": "mqtt in",
        "z": "b50bd6e8837e1b4e",
        "name": "Vultr2 Smartplugs",
        "topic": "KTBMES/KTBCS_MBP/+/smartplugs/+/switch:0/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "40227b344b006862",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 720,
        "wires": [
            [
                "2465a8f05ff3f9d3",
                "99732b7ee9b9c974",
                "a1b1adf93d067845"
            ]
        ]
    },
    {
        "id": "2465a8f05ff3f9d3",
        "type": "debug",
        "z": "b50bd6e8837e1b4e",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "99732b7ee9b9c974",
        "type": "function",
        "z": "b50bd6e8837e1b4e",
        "name": "Parse",
        "func": "// break out the input into (room, device, attribute, value)\n// output nodes:\n//  0 - office, lab, apower\n//  1 - office, lab, voltage\n//  2 - office, lab, current\n//  3 - office, lab, temperature\n//  4 - office, desk, apower\n//  5 - office, desk, voltage\n//  6 - office, desk, current\n//  7 - office, desk, temperature\n//  8 - garage, EV, apower\n//  9 - garage, EV, voltage\n// 10 - garage, EV, current\n// 11 - garage, EV, temperature\n\n// Split up the topic and ensure we have a valid topic string\nconst topicParts = msg.topic.split('/');\nif (topicParts.length < 3) {\n    node.warn(\"Invalid topic format: \" + msg.topic);\n    return null;\n}\n\n// topic string is expected to be in the format of\n//    [0]           [1]         [2]      [3]      [4]     [5]           [6]\n//   <root>/<publishing host>/<room>/smartplugs/<area>/switch:0/<attribute name>\n// and of course the payload is the value for the attribute\n\nconst room = topicParts[2]\nconst area = topicParts[4]\nconst attributeName = topicParts[topicParts.length - 1];\nconst attributeValue = String(msg.payload); // Convert payload to string\n\n// Helper function to create message array\nfunction createMessageArray(position, value) {\n    const arr = Array(12).fill(null);\n    if (value !== null) {\n        arr[position] = { payload: value };\n    }\n    return arr;\n}\n\nif (room === \"office\" && area === \"Shelly_Lab_01\") {\n    if (attributeName === \"apower\") {\n        return createMessageArray(0, attributeValue);\n    } else if (attributeName === \"voltage\") {\n        return createMessageArray(1, attributeValue);\n    } else if (attributeName === \"current\") {\n        return createMessageArray(2, attributeValue);\n    } else if (attributeName === \"tF\") {\n        return createMessageArray(3, attributeValue);\n    }\n} else if (room === \"office\" && area === \"Shelly_Prod\") {\n    if (attributeName === \"apower\") {\n        return createMessageArray(4, attributeValue);\n    } else if (attributeName === \"voltage\") {\n        return createMessageArray(5, attributeValue);\n    } else if (attributeName === \"current\") {\n        return createMessageArray(6, attributeValue);\n    } else if (attributeName === \"tF\") {\n        return createMessageArray(7, attributeValue);\n    }\n} else if (room === \"garage\" && area === \"Shelly_EV\") {\n    if (attributeName === \"apower\") {\n        return createMessageArray(8, attributeValue);\n    } else if (attributeName === \"voltage\") {\n        return createMessageArray(9, attributeValue);\n    } else if (attributeName === \"current\") {\n        return createMessageArray(10, attributeValue);\n    } else if (attributeName === \"tF\") {\n        return createMessageArray(11, attributeValue);\n    }\n} else {\n    node.warn(\"Invalid room/area: \" + room + \"/\" + area);\n    return null;\n}\n\n",
        "outputs": 12,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 720,
        "wires": [
            [
                "b84349b9cd72b98c",
                "f1f17e91bbe2b496"
            ],
            [
                "9f63c1451bd5dd0c",
                "e24464d3ff66bf59"
            ],
            [
                "7990acc998197040",
                "e083d4b5477c26e1"
            ],
            [
                "1225c10635a624e9",
                "2663b73a023ff730",
                "3c0c37e9a1539607"
            ],
            [
                "4f94ce9d930ef076",
                "f947b465c7d361f4"
            ],
            [
                "070a65a215845bab",
                "9e55496fdd586425"
            ],
            [
                "2c689bc9f5635a84",
                "02fa62a99fd902b5"
            ],
            [
                "fa8a378b66889024",
                "837ed2ddadf26079"
            ],
            [
                "05db8294bc166b3e",
                "3f27f3ea005f6aa5"
            ],
            [
                "a7a08e82789d3c8e",
                "bcb86da56d69ae23"
            ],
            [
                "49c7a78fafe3971b",
                "ba83bf783638b6ed"
            ],
            [
                "3b5ada2cc424a644",
                "22c2c051f5188e53"
            ]
        ]
    },
    {
        "id": "2663b73a023ff730",
        "type": "debug",
        "z": "b50bd6e8837e1b4e",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "a1b1adf93d067845",
        "type": "function",
        "z": "b50bd6e8837e1b4e",
        "name": "Get TimeStamp",
        "func": "// Function to process MQTT messages and route based on device name\nfunction formatTimestamp(timestamp) {\n    console.log(\"Received timestamp:\", timestamp, \"Type:\", typeof timestamp);\n    \n    // Ensure we have a valid Date object\n    const date = new Date(Number(timestamp));\n    \n    if (isNaN(date.getTime())) {\n        console.log(\"Error: Invalid date created\");\n        return new Date().toLocaleString('en-US', {\n            timeZone: 'America/Los_Angeles',\n            year: 'numeric',\n            month: '2-digit',\n            day: '2-digit',\n            hour: '2-digit',\n            minute: '2-digit',\n            hour12: false\n        }).replace(/(\\d+)\\/(\\d+)\\/(\\d+),\\s+(\\d+:\\d+).*/, '$3-$1-$2 $4');\n    }\n    \n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit',\n        hour: '2-digit',\n        minute: '2-digit',\n        hour12: false\n    }).replace(/(\\d+)\\/(\\d+)\\/(\\d+),\\s+(\\d+:\\d+).*/, '$3-$1-$2  $4');\n}\n\n// Get the formatted timestamp from the message\nconst new_payload = formatTimestamp(msg.timestamp);\n\n// Split the topic into parts and get the device name (5th part)\nconst parts = msg.topic.split('/');\nconst device_name = parts[4] || '';\n\nlet output = [null, null, null];\n\n// Switch based on device_name\nmsg.payload = new_payload;\nswitch(device_name) {\n    case 'Shelly_Lab_01':\n        output[0] = msg;\n        break;\n    case 'Shelly_Prod':\n        output[1] = msg;\n        break;\n    case 'Shelly_EV':\n        output[2] = msg;\n        break;\n    // Default case already has all nulls\n}\n\n// Return the array of messages\nreturn output;\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "a2ecdcf0bd6d3d1d",
                "71b9170a83532c6d",
                "b615f90b7fdab616"
            ],
            [
                "a2ecdcf0bd6d3d1d",
                "b21161b86f68d834",
                "be023f31286b79cd"
            ],
            [
                "a2ecdcf0bd6d3d1d",
                "7b27d4950ea8936a",
                "59c00a94c01062b0"
            ]
        ]
    },
    {
        "id": "a2ecdcf0bd6d3d1d",
        "type": "debug",
        "z": "b50bd6e8837e1b4e",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "b615f90b7fdab616",
        "type": "ui_text",
        "z": "b50bd6e8837e1b4e",
        "group": "551fa096c4be3b6d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Lab_Chart_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 80,
        "wires": []
    },
    {
        "id": "b21161b86f68d834",
        "type": "ui_text",
        "z": "b50bd6e8837e1b4e",
        "group": "b0aff1d8906e664d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Prod_Chart_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "7b27d4950ea8936a",
        "type": "ui_text",
        "z": "b50bd6e8837e1b4e",
        "group": "83a2dcafa4b40858",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "EV_Chart_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "71b9170a83532c6d",
        "type": "ui_text",
        "z": "b50bd6e8837e1b4e",
        "group": "342e62fb87e28291",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Lab_Guage_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "be023f31286b79cd",
        "type": "ui_text",
        "z": "b50bd6e8837e1b4e",
        "group": "0120b7d51f39933f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Prod_Guage_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "59c00a94c01062b0",
        "type": "ui_text",
        "z": "b50bd6e8837e1b4e",
        "group": "d0e6d933f5c08d05",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "EV_Guage_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 280,
        "wires": []
    },
    {
        "id": "b84349b9cd72b98c",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "Lab aPower",
        "group": "342e62fb87e28291",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab aPower",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "9f63c1451bd5dd0c",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "Lab Voltage",
        "group": "342e62fb87e28291",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "130",
        "colors": [
            "#b09303",
            "#01b500",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "125",
        "diff": true,
        "className": "",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "7990acc998197040",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "Lab Current",
        "group": "342e62fb87e28291",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab Current",
        "label": "Amps",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "1225c10635a624e9",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "Lab Temperature",
        "group": "342e62fb87e28291",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab Temperature",
        "label": "degrees F",
        "format": "{{value}}",
        "min": "30",
        "max": "200",
        "colors": [
            "#0490fb",
            "#f9de58",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 620,
        "wires": []
    },
    {
        "id": "3f27f3ea005f6aa5",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "EV aPower",
        "group": "d0e6d933f5c08d05",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EV aPower",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bcb86da56d69ae23",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "EV Voltage",
        "group": "d0e6d933f5c08d05",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EV Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "130",
        "colors": [
            "#b09303",
            "#01b500",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "125",
        "diff": true,
        "className": "",
        "x": 970,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ba83bf783638b6ed",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "EV Current",
        "group": "d0e6d933f5c08d05",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EV Current",
        "label": "Amps",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 1220,
        "wires": []
    },
    {
        "id": "22c2c051f5188e53",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "EV Temperature",
        "group": "d0e6d933f5c08d05",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EV Temperature",
        "label": "degrees F",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#0490fb",
            "#f9de58",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 1300,
        "wires": []
    },
    {
        "id": "4f94ce9d930ef076",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "Prod aPower",
        "group": "0120b7d51f39933f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Prod aPower",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 720,
        "wires": []
    },
    {
        "id": "070a65a215845bab",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "Prod Voltage",
        "group": "0120b7d51f39933f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Prod Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "130",
        "colors": [
            "#b09303",
            "#01b500",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "125",
        "diff": true,
        "className": "",
        "x": 970,
        "y": 800,
        "wires": []
    },
    {
        "id": "2c689bc9f5635a84",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "Prod Current",
        "group": "0120b7d51f39933f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Prod Current",
        "label": "Amps",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 880,
        "wires": []
    },
    {
        "id": "fa8a378b66889024",
        "type": "ui_gauge",
        "z": "b50bd6e8837e1b4e",
        "name": "Prod Temperature",
        "group": "0120b7d51f39933f",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Prod Temperature",
        "label": "degrees F",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#0490fb",
            "#f9de58",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "f1f17e91bbe2b496",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "Lab aPower",
        "group": "551fa096c4be3b6d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Lab aPower",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e24464d3ff66bf59",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "Lab Voltage",
        "group": "551fa096c4be3b6d",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Lab Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "130",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffd500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e083d4b5477c26e1",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "Lab Current",
        "group": "551fa096c4be3b6d",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Lab Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff40",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3c0c37e9a1539607",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "Lab Temperature",
        "group": "551fa096c4be3b6d",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Lab Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "30",
        "ymax": "150",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0055ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "05db8294bc166b3e",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "EV aPower",
        "group": "83a2dcafa4b40858",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "EV aPower",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "a7a08e82789d3c8e",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "EV Voltage",
        "group": "83a2dcafa4b40858",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "EV Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "130",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffd500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "49c7a78fafe3971b",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "EV Current",
        "group": "83a2dcafa4b40858",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "EV Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff40",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "3b5ada2cc424a644",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "EV Temperature",
        "group": "83a2dcafa4b40858",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "EV Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "30",
        "ymax": "150",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0055ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "f947b465c7d361f4",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "Prod aPower",
        "group": "b0aff1d8906e664d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Prod aPower",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9e55496fdd586425",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "Prod Voltage",
        "group": "b0aff1d8906e664d",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Prod Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "130",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffd500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "02fa62a99fd902b5",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "Prod Current",
        "group": "b0aff1d8906e664d",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Prod Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff40",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "837ed2ddadf26079",
        "type": "ui_chart",
        "z": "b50bd6e8837e1b4e",
        "name": "Prod Temperature",
        "group": "b0aff1d8906e664d",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Prod Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "30",
        "ymax": "150",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0055ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "83888350527d383f",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "551fa096c4be3b6d",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "8f4d2aeef3774619",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "551fa096c4be3b6d",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "2d1e005afbc8fffb",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "551fa096c4be3b6d",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "3ddd0be7a77251e9",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "b0aff1d8906e664d",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "87bd4b7b3e130415",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "b0aff1d8906e664d",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "8c5ae03615e61911",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "b0aff1d8906e664d",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "cae90d836e912bee",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "83a2dcafa4b40858",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "aafd8c3aeead1a08",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "83a2dcafa4b40858",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "b500fa9825e25cbc",
        "type": "ui_spacer",
        "z": "b50bd6e8837e1b4e",
        "name": "spacer",
        "group": "83a2dcafa4b40858",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "40227b344b006862",
        "type": "mqtt-broker",
        "name": "n-vutlr2",
        "broker": "n-vultr2",
        "port": "1883",
        "clientid": "ktbcs_mbp_node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "551fa096c4be3b6d",
        "type": "ui_group",
        "name": "Lab Charts",
        "tab": "cfd079416572a5a1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0aff1d8906e664d",
        "type": "ui_group",
        "name": "Prod Charts",
        "tab": "cfd079416572a5a1",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "83a2dcafa4b40858",
        "type": "ui_group",
        "name": "EV Charts",
        "tab": "cfd079416572a5a1",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "342e62fb87e28291",
        "type": "ui_group",
        "name": "Lab Guages",
        "tab": "cfd079416572a5a1",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0120b7d51f39933f",
        "type": "ui_group",
        "name": "Prod Guages",
        "tab": "cfd079416572a5a1",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0e6d933f5c08d05",
        "type": "ui_group",
        "name": "EV Guages",
        "tab": "cfd079416572a5a1",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfd079416572a5a1",
        "type": "ui_tab",
        "name": "SmartPlug_Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]