flows-all 20251109.json
[
    {
        "id": "ced2aca70f5720b9",
        "type": "tab",
        "label": "Flow House Temps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5176e2d2ea02e020",
        "type": "tab",
        "label": "Flow House Energy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "840eee6fa338866e",
        "type": "tab",
        "label": "Flow Service Status 2.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ea66e6d203988a2",
        "type": "tab",
        "label": "Flow Battery Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2eded491a2c9866d",
        "type": "ui_tab",
        "name": "KTBCS Website",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5c9154159481611",
        "type": "ui_group",
        "name": "Website Status",
        "tab": "2eded491a2c9866d",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "165360aa44991380",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3401649474d49109",
        "type": "mqtt-broker",
        "name": "Vultr2",
        "broker": "45.63.82.34",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f9addb30539f63a3",
        "type": "ui_tab",
        "name": "All Up",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "976a565a31995234",
        "type": "ui_group",
        "name": "LIVING ROOM",
        "tab": "f9addb30539f63a3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf2742497e042c41",
        "type": "ui_group",
        "name": "PATIO",
        "tab": "f9addb30539f63a3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a769dc138a6597bb",
        "type": "ui_group",
        "name": "SHRINE ROOM",
        "tab": "f9addb30539f63a3",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e672f5f0295ea2f",
        "type": "ui_group",
        "name": "PORCH",
        "tab": "f9addb30539f63a3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0bf3c62a2af7c552",
        "type": "ui_group",
        "name": "Status Last Updated",
        "tab": "2eded491a2c9866d",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b2b1164b482b0e0",
        "type": "mqtt-broker",
        "name": "virtual-factory-online",
        "broker": "broker.virtualfactory.online",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dee4ffa6b8bd37d5",
        "type": "mqtt-broker",
        "name": "n-vutlr2",
        "broker": "144.202.108.198",
        "port": "1883",
        "clientid": "ktbcs_mbp_node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bbfb63efd5d1a83b",
        "type": "mqtt-broker",
        "name": "ts-vultr",
        "broker": "vultr1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d45c3dec4c4a6843",
        "type": "mqtt-broker",
        "name": "n-vultr2",
        "broker": "45.63.82.34",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8adca0d0ae07f21b",
        "type": "ui_tab",
        "name": "Shelly_Lab_01_Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "10666450fed38c9e",
        "type": "ui_tab",
        "name": "SmartPlug_Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "248ddb2a9a2b9c17",
        "type": "ui_tab",
        "name": "House Temps All Up",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "14334df4bf05c946",
        "type": "ui_group",
        "name": "Switch:0 Text",
        "tab": "8adca0d0ae07f21b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "959d07ce6c430c41",
        "type": "ui_group",
        "name": "Switch:0 Guages",
        "tab": "8adca0d0ae07f21b",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0293568893b1ffee",
        "type": "ui_group",
        "name": "Prod Guages",
        "tab": "10666450fed38c9e",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9173adc71da33d3",
        "type": "ui_group",
        "name": "Lab Charts",
        "tab": "10666450fed38c9e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "52ebb9985981ed03",
        "type": "ui_group",
        "name": "EV Guages",
        "tab": "10666450fed38c9e",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cce4416e59363f0d",
        "type": "ui_group",
        "name": "EV Charts",
        "tab": "10666450fed38c9e",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "10a8ce8f84771db5",
        "type": "ui_group",
        "name": "Prod Charts",
        "tab": "10666450fed38c9e",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4646eb043236519",
        "type": "ui_group",
        "name": "Lab Guages",
        "tab": "10666450fed38c9e",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "714d6e7adb663e01",
        "type": "ui_group",
        "name": "PORCH",
        "tab": "248ddb2a9a2b9c17",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "027eb46d65591c04",
        "type": "ui_group",
        "name": "LIVING ROOM",
        "tab": "248ddb2a9a2b9c17",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42c67c9f328e0e16",
        "type": "ui_group",
        "name": "DECK",
        "tab": "248ddb2a9a2b9c17",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be0945614af5eb4e",
        "type": "ui_group",
        "name": "SHRINE ROOM",
        "tab": "248ddb2a9a2b9c17",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c95b3a7a0dcd749",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "a9173adc71da33d3",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "df625099d3c34cbc",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "a9173adc71da33d3",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "6ad43226c3a6d93f",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "a9173adc71da33d3",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "e4e74304989f3da3",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "10a8ce8f84771db5",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "e0752bde5d068d3b",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "10a8ce8f84771db5",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "f44b04c98d69dbb1",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "10a8ce8f84771db5",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "871397d40298cdff",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "cce4416e59363f0d",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "cf6d3cd27fcdbf15",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "cce4416e59363f0d",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "0245ed0bf4c9716e",
        "type": "ui_spacer",
        "z": "5176e2d2ea02e020",
        "name": "spacer",
        "group": "cce4416e59363f0d",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "dd0c7c3266a0ffe8",
        "type": "mqtt-broker",
        "name": "n-vultr2",
        "broker": "n-vultr2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2e7550ec53d741cf",
        "type": "ui_tab",
        "name": "Service Status 2.0",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1ddea1dfc6a0ebed",
        "type": "ui_group",
        "name": "SKINNER",
        "tab": "2e7550ec53d741cf",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce5634c22cb14e37",
        "type": "ui_group",
        "name": "Timestamp",
        "tab": "2e7550ec53d741cf",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b5c250edfe9724d",
        "type": "ui_group",
        "name": "KTBCS",
        "tab": "2e7550ec53d741cf",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cbeca01ac5e0c11",
        "type": "ui_group",
        "name": "NAS",
        "tab": "2e7550ec53d741cf",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "40227b344b006862",
        "type": "mqtt-broker",
        "name": "n-vutlr2",
        "broker": "n-vultr2",
        "port": "1883",
        "clientid": "ktbcs_mbp_node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c887baf6bfcb3bee",
        "type": "ui_tab",
        "name": "Battery Status",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f704b1b3e654081a",
        "type": "ui_group",
        "name": "House Sensors LED",
        "tab": "c887baf6bfcb3bee",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca7598637b19f38a",
        "type": "ui_group",
        "name": "Time Stamps",
        "tab": "c887baf6bfcb3bee",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c270156a6261af94",
        "type": "mqtt in",
        "z": "ced2aca70f5720b9",
        "name": "Vultr2_KTB-MBP_house_weather_sensors",
        "topic": "KTBMES/+/sensors/house_weather_sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d45c3dec4c4a6843",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "bb80fe166d4f286b",
                "af254d6d90995492",
                "0b8c88ec98fa033b",
                "ba3aca7085d4de5a",
                "d6bf721b379255b3"
            ]
        ]
    },
    {
        "id": "bb80fe166d4f286b",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "MQTT Full Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "af254d6d90995492",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "get_name_and_temperature",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    temperature_F: msg.payload.temperature_F\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "3792b5dd6d64f804",
                "553f03c6cefd9445"
            ]
        ]
    },
    {
        "id": "3792b5dd6d64f804",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Name and Temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "553f03c6cefd9445",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "Parse_into_devices_temperature",
        "func": "if (msg.payload.device_name) {\n    let temp = msg.payload.temperature_F;  // Store temperature first\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = temp;\n\n    switch (deviceName) {\n        case \"LIVINGROOM-C\":\n            return [msg, null, null, null];\n        case \"DECK-B\":\n            return [null, msg, null, null];\n        case \"SHRINEROOM-A\":\n            return [null, null, msg, null];\n        case \"PORCH-B\":\n            return [null, null, null, msg];\n    }\n}\nreturn null;\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 480,
        "wires": [
            [
                "e5b48b6ba2e9b59b",
                "934010de93efc2b7",
                "3fabd9eb194c594a"
            ],
            [
                "e5b48b6ba2e9b59b",
                "c5382572c1cedde2",
                "8c60b56e361ec469"
            ],
            [
                "e5b48b6ba2e9b59b",
                "88c7f3dd4f04c5dd",
                "2b498d888bec56e5"
            ],
            [
                "e5b48b6ba2e9b59b",
                "f114af3b0192d292",
                "1926cb7bc79077fd"
            ]
        ]
    },
    {
        "id": "e5b48b6ba2e9b59b",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Gauge and Chart Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "dc21382a4b161b46",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "Parse_into_devices_humidity",
        "func": "if (msg.payload.device_name) {\n    let hum = msg.payload.humidity;  // Store temperature first\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = hum;\n\n    switch (deviceName) {\n        case \"LIVINGROOM-C\":\n            return [msg, null, null];\n        case \"PATIO-B\":\n            return [null, msg, null];\n        case \"SHRINEROOM-A\":\n            return [null, null, msg];\n    }\nreturn null\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "5932e6fc5f1e003a",
                "c4734a53549fc46a",
                "12ac2b65fd21384f"
            ],
            [
                "5932e6fc5f1e003a",
                "cb892b3c72d22339",
                "6f61bf9161d7c39f"
            ],
            [
                "5932e6fc5f1e003a",
                "8b345737feaf4a6f",
                "a2138337c7343307"
            ]
        ]
    },
    {
        "id": "5932e6fc5f1e003a",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Humidity Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0b8c88ec98fa033b",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "get_name_and_humidty",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    humidity: msg.payload.humidity\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 880,
        "wires": [
            [
                "e81c1c4d2a702191",
                "dc21382a4b161b46"
            ]
        ]
    },
    {
        "id": "e81c1c4d2a702191",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Name and Humidit",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 940,
        "wires": []
    },
    {
        "id": "ba3aca7085d4de5a",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "get_timestamp",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    time: msg.payload.time\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "92659d9248657544",
                "3d4de0b1a4e3860f"
            ]
        ]
    },
    {
        "id": "3d4de0b1a4e3860f",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "TimeStamp Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "92659d9248657544",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "Parse_into_devices_temperature",
        "func": "if (msg.payload.device_name) {\n    let time = msg.payload.time.substring(0, 16)\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = time;\n\n    switch (deviceName) {\n        case \"LIVINGROOM-C\":\n            return [msg, null, null, null];\n        case \"DECK-B\":\n            return [null, msg, null, null];\n        case \"SHRINEROOM-A\":\n            return [null, null, msg, null];\n        case \"PORCH-B\":\n            return [null, null, null, msg];\n    }\n}\nreturn null;\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 140,
        "wires": [
            [
                "e8b78b445bde8205"
            ],
            [
                "7bb0b549f0a14a09"
            ],
            [
                "575d7d95ff604d4f"
            ],
            [
                "9514c60355adba47"
            ]
        ]
    },
    {
        "id": "e8b78b445bde8205",
        "type": "ui_text",
        "z": "ced2aca70f5720b9",
        "group": "027eb46d65591c04",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "LIVING ROOM TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "7bb0b549f0a14a09",
        "type": "ui_text",
        "z": "ced2aca70f5720b9",
        "group": "42c67c9f328e0e16",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "PATIO TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "575d7d95ff604d4f",
        "type": "ui_text",
        "z": "ced2aca70f5720b9",
        "group": "be0945614af5eb4e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "SHRINEROOM TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 140,
        "wires": []
    },
    {
        "id": "9514c60355adba47",
        "type": "ui_text",
        "z": "ced2aca70f5720b9",
        "group": "714d6e7adb663e01",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "PORCH TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "934010de93efc2b7",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "LIVING ROOM TEMP",
        "group": "027eb46d65591c04",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Living Room Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "c5382572c1cedde2",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "DECK-B TEMP",
        "group": "42c67c9f328e0e16",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Deck Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "88c7f3dd4f04c5dd",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "SHRINE ROOM TEMP",
        "group": "be0945614af5eb4e",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Shrine Room Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "f114af3b0192d292",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "PORCH TEMP",
        "group": "714d6e7adb663e01",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Porch Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "c4734a53549fc46a",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "LIVING ROOM HUMIDITY",
        "group": "027eb46d65591c04",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living Room Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cb892b3c72d22339",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "DECK HUMIDITY",
        "group": "42c67c9f328e0e16",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Deck Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8b345737feaf4a6f",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "SHRINE ROOM HUMIDITY",
        "group": "be0945614af5eb4e",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Shrine Room Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 1300,
        "wires": []
    },
    {
        "id": "3fabd9eb194c594a",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "LIVING ROOM TEMP",
        "group": "027eb46d65591c04",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Living Room Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1926cb7bc79077fd",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "PORCH TEMP",
        "group": "714d6e7adb663e01",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Porch Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#027acf",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "2b498d888bec56e5",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "SHRINE ROOM TEMP",
        "group": "be0945614af5eb4e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "ShrineRoom Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f6e204",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8c60b56e361ec469",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "DECK-B TEMP",
        "group": "42c67c9f328e0e16",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Deck Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0bf0f4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "12ac2b65fd21384f",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "LIVING ROOM HUMIDITY",
        "group": "027eb46d65591c04",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Living Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "6f61bf9161d7c39f",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "DECK HUMIDITY",
        "group": "42c67c9f328e0e16",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Deck Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "a2138337c7343307",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "SHRINE ROOM HUMIDITY",
        "group": "be0945614af5eb4e",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Shrine Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "d6bf721b379255b3",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "get_name_and_battery_status",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    battery_ok: msg.payload.battery_ok\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1440,
        "wires": [
            [
                "573fe0cbbb1cdae3",
                "7262c2a666e3197b"
            ]
        ]
    },
    {
        "id": "573fe0cbbb1cdae3",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "Parse_into_devices_battery_status",
        "func": "if (!msg.payload || !msg.payload.device_name) return null;\n\nconst deviceMap = {\n    \"LIVINGROOM-C\": 0,\n    \"PATIO-B\": 1,\n    \"SHRINEROOM-A\": 2,\n    \"PORCH-B\": 3\n};\n\nconst deviceName = msg.payload.device_name.toUpperCase();\nconst index = deviceMap[deviceName];\n\nif (index === undefined) return null;\n\nconst batteryValue = msg.payload.battery_ok;\nlet normalizedValue;\n\n// String Handling\nif (typeof batteryValue === \"string\") {\n    const cleanValue = batteryValue.trim().toLowerCase();\n    \n    if (cleanValue === \"1\" || cleanValue === \"true\") {\n        normalizedValue = true;\n    } \n    else if (cleanValue === \"0\" || cleanValue === \"false\") {\n        normalizedValue = false;\n    } \n    else {\n        normalizedValue = false;\n        node.warn(`Invalid string value for battery_ok: \"${batteryValue}\"`);\n    }\n}\n\n// Number Handling\nelse if (typeof batteryValue === \"number\") {\n    if (batteryValue === 1) {\n        normalizedValue = true;\n    } \n    else if (batteryValue === 0) {\n        normalizedValue = false;\n    } \n    else {\n        normalizedValue = false;\n        node.warn(`Invalid numeric value for battery_ok: ${batteryValue}`);\n    }\n}\n\n// Boolean Handling\nelse if (typeof batteryValue === \"boolean\") {\n    normalizedValue = batteryValue;\n}\n\n// Invalid Types\nelse {\n    normalizedValue = false;\n    node.warn(`Invalid type for battery_ok: ${typeof batteryValue}`);\n}\n\n// Create new message object\nconst newmsg = { ...msg, payload: normalizedValue };\n\n// Route message\nconst outputs = [null, null, null, null];\noutputs[index] = newmsg;\nreturn outputs;\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1560,
        "wires": [
            [
                "c086312c285c59d0"
            ],
            [
                "c086312c285c59d0"
            ],
            [
                "c086312c285c59d0"
            ],
            [
                "c086312c285c59d0"
            ]
        ]
    },
    {
        "id": "c086312c285c59d0",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Battery Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1560,
        "wires": []
    },
    {
        "id": "7262c2a666e3197b",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Name_and_Battery",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1440,
        "wires": []
    },
    {
        "id": "c9fa9d2dffea67a6",
        "type": "mqtt in",
        "z": "5176e2d2ea02e020",
        "name": "Vultr2 Smartplugs",
        "topic": "KTBMES/+/+/smartplugs/+/switch:0/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d45c3dec4c4a6843",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 720,
        "wires": [
            [
                "df32b2f490104263",
                "a9c2da06dca14544",
                "825d27f7bdbaac9d",
                "c285bff8df14a086"
            ]
        ]
    },
    {
        "id": "df32b2f490104263",
        "type": "debug",
        "z": "5176e2d2ea02e020",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "a9c2da06dca14544",
        "type": "function",
        "z": "5176e2d2ea02e020",
        "name": "Parse",
        "func": "// break out the input into (room, device, attribute, value)\n// output nodes:\n//  0 - office, lab, apower\n//  1 - office, lab, voltage\n//  2 - office, lab, current\n//  3 - office, lab, temperature\n//  4 - office, desk, apower\n//  5 - office, desk, voltage\n//  6 - office, desk, current\n//  7 - office, desk, temperature\n//  8 - garage, EV, apower\n//  9 - garage, EV, voltage\n// 10 - garage, EV, current\n// 11 - garage, EV, temperature\n\n// Split up the topic and ensure we have a valid topic string\nconst topicParts = msg.topic.split('/');\nif (topicParts.length < 3) {\n    node.warn(\"Invalid topic format: \" + msg.topic);\n    return null;\n}\n\n// topic string is expected to be in the format of\n//    [0]           [1]         [2]      [3]      [4]     [5]           [6]\n//   <root>/<publishing host>/<room>/smartplugs/<area>/switch:0/<attribute name>\n// and of course the payload is the value for the attribute\n\nconst room = topicParts[2]\nconst area = topicParts[4]\nconst attributeName = topicParts[topicParts.length - 1];\nconst attributeValue = String(msg.payload); // Convert payload to string\n\n// Helper function to create message array\nfunction createMessageArray(position, value) {\n    const arr = Array(12).fill(null);\n    if (value !== null) {\n        arr[position] = { payload: value };\n    }\n    return arr;\n}\n\nif (room === \"office\" && area === \"Shelly_Lab_01\") {\n    if (attributeName === \"apower\") {\n        return createMessageArray(0, attributeValue);\n    } else if (attributeName === \"voltage\") {\n        return createMessageArray(1, attributeValue);\n    } else if (attributeName === \"current\") {\n        return createMessageArray(2, attributeValue);\n    } else if (attributeName === \"tF\") {\n        return createMessageArray(3, attributeValue);\n    }\n} else if (room === \"office\" && area === \"Shelly_Prod\") {\n    if (attributeName === \"apower\") {\n        return createMessageArray(4, attributeValue);\n    } else if (attributeName === \"voltage\") {\n        return createMessageArray(5, attributeValue);\n    } else if (attributeName === \"current\") {\n        return createMessageArray(6, attributeValue);\n    } else if (attributeName === \"tF\") {\n        return createMessageArray(7, attributeValue);\n    }\n} else if (room === \"garage\" && area === \"Shelly_EV\") {\n    if (attributeName === \"apower\") {\n        return createMessageArray(8, attributeValue);\n    } else if (attributeName === \"voltage\") {\n        return createMessageArray(9, attributeValue);\n    } else if (attributeName === \"current\") {\n        return createMessageArray(10, attributeValue);\n    } else if (attributeName === \"tF\") {\n        return createMessageArray(11, attributeValue);\n    }\n} else {\n    node.warn(\"Invalid room/area: \" + room + \"/\" + area);\n    return null;\n}\n\n",
        "outputs": 12,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 720,
        "wires": [
            [
                "3bba4ec963059789",
                "0abcbd0e68cb41a5"
            ],
            [
                "d41e78a60d71e69f",
                "835f3a35793c092f"
            ],
            [
                "581eaf5d536376e5",
                "26ccf4e26df00f84"
            ],
            [
                "db38a3e340d6f361",
                "344636a21b9b4055",
                "40a170099dc55fc4"
            ],
            [
                "d6aa7e1596bff571",
                "a2741bd9607de148"
            ],
            [
                "5aa1da5d2a381db9",
                "4e86441090543a66"
            ],
            [
                "b5ca97bb64049b81",
                "42e586e116eb6c89"
            ],
            [
                "a3a203786a363b25",
                "6a822d795b2d8592"
            ],
            [
                "c2c593f7cfc40529",
                "08a378a956aebe44"
            ],
            [
                "67e74668864f24f6",
                "365f61cc0de21633"
            ],
            [
                "0971fe7d39e3456d",
                "0e69166c247ac9d1"
            ],
            [
                "3e9560bba84f5bd5",
                "acb7db2939fdeed1"
            ]
        ]
    },
    {
        "id": "344636a21b9b4055",
        "type": "debug",
        "z": "5176e2d2ea02e020",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "825d27f7bdbaac9d",
        "type": "function",
        "z": "5176e2d2ea02e020",
        "name": "Get TimeStamp",
        "func": "// Function to process MQTT messages and route based on device name\nfunction formatTimestamp(timestamp) {\n    console.log(\"Received timestamp:\", timestamp, \"Type:\", typeof timestamp);\n    \n    // Ensure we have a valid Date object\n    const date = new Date(Number(timestamp));\n    \n    if (isNaN(date.getTime())) {\n        console.log(\"Error: Invalid date created\");\n        return new Date().toLocaleString('en-US', {\n            timeZone: 'America/Los_Angeles',\n            year: 'numeric',\n            month: '2-digit',\n            day: '2-digit',\n            hour: '2-digit',\n            minute: '2-digit',\n            hour12: false\n        }).replace(/(\\d+)\\/(\\d+)\\/(\\d+),\\s+(\\d+:\\d+).*/, '$3-$1-$2 $4');\n    }\n    \n    return date.toLocaleString('en-US', {\n        timeZone: 'America/Los_Angeles',\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit',\n        hour: '2-digit',\n        minute: '2-digit',\n        hour12: false\n    }).replace(/(\\d+)\\/(\\d+)\\/(\\d+),\\s+(\\d+:\\d+).*/, '$3-$1-$2  $4');\n}\n\n// Get the formatted timestamp from the message\nconst new_payload = formatTimestamp(msg.timestamp);\n\n// Split the topic into parts and get the device name (5th part)\nconst parts = msg.topic.split('/');\nconst device_name = parts[4] || '';\n\nlet output = [null, null, null];\n\n// Switch based on device_name\nmsg.payload = new_payload;\nswitch(device_name) {\n    case 'Shelly_Lab_01':\n        output[0] = msg;\n        break;\n    case 'Shelly_Prod':\n        output[1] = msg;\n        break;\n    case 'Shelly_EV':\n        output[2] = msg;\n        break;\n    // Default case already has all nulls\n}\n\n// Return the array of messages\nreturn output;\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "d4a381ffccbe07a4",
                "5b87eaa3c28443ac",
                "84500d87bddd0f18"
            ],
            [
                "d4a381ffccbe07a4",
                "7b9d217006a2e2eb",
                "e0a97b9bd9265590"
            ],
            [
                "d4a381ffccbe07a4",
                "d9e64dbf5176ccf4",
                "2bd006a01b86e174"
            ]
        ]
    },
    {
        "id": "d4a381ffccbe07a4",
        "type": "debug",
        "z": "5176e2d2ea02e020",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "84500d87bddd0f18",
        "type": "ui_text",
        "z": "5176e2d2ea02e020",
        "group": "a9173adc71da33d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Lab_Chart_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 80,
        "wires": []
    },
    {
        "id": "7b9d217006a2e2eb",
        "type": "ui_text",
        "z": "5176e2d2ea02e020",
        "group": "10a8ce8f84771db5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Prod_Chart_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "d9e64dbf5176ccf4",
        "type": "ui_text",
        "z": "5176e2d2ea02e020",
        "group": "cce4416e59363f0d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "EV_Chart_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b87eaa3c28443ac",
        "type": "ui_text",
        "z": "5176e2d2ea02e020",
        "group": "f4646eb043236519",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Lab_Guage_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "e0a97b9bd9265590",
        "type": "ui_text",
        "z": "5176e2d2ea02e020",
        "group": "0293568893b1ffee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Prod_Guage_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "2bd006a01b86e174",
        "type": "ui_text",
        "z": "5176e2d2ea02e020",
        "group": "52ebb9985981ed03",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "EV_Guage_Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 280,
        "wires": []
    },
    {
        "id": "3bba4ec963059789",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "Lab aPower",
        "group": "f4646eb043236519",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab aPower",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "d41e78a60d71e69f",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "Lab Voltage",
        "group": "f4646eb043236519",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "130",
        "colors": [
            "#b09303",
            "#01b500",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "125",
        "diff": true,
        "className": "",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "581eaf5d536376e5",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "Lab Current",
        "group": "f4646eb043236519",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab Current",
        "label": "Amps",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "db38a3e340d6f361",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "Lab Temperature",
        "group": "f4646eb043236519",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lab Temperature",
        "label": "degrees F",
        "format": "{{value}}",
        "min": "30",
        "max": "200",
        "colors": [
            "#0490fb",
            "#f9de58",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 620,
        "wires": []
    },
    {
        "id": "08a378a956aebe44",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "EV aPower",
        "group": "52ebb9985981ed03",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EV aPower",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 1060,
        "wires": []
    },
    {
        "id": "365f61cc0de21633",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "EV Voltage",
        "group": "52ebb9985981ed03",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EV Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "130",
        "colors": [
            "#b09303",
            "#01b500",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "125",
        "diff": true,
        "className": "",
        "x": 970,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0e69166c247ac9d1",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "EV Current",
        "group": "52ebb9985981ed03",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EV Current",
        "label": "Amps",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 1220,
        "wires": []
    },
    {
        "id": "acb7db2939fdeed1",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "EV Temperature",
        "group": "52ebb9985981ed03",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "EV Temperature",
        "label": "degrees F",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#0490fb",
            "#f9de58",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 1300,
        "wires": []
    },
    {
        "id": "d6aa7e1596bff571",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "Prod aPower",
        "group": "0293568893b1ffee",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Prod aPower",
        "label": "Watts",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 720,
        "wires": []
    },
    {
        "id": "5aa1da5d2a381db9",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "Prod Voltage",
        "group": "0293568893b1ffee",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Prod Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": 0,
        "max": "130",
        "colors": [
            "#b09303",
            "#01b500",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "125",
        "diff": true,
        "className": "",
        "x": 970,
        "y": 800,
        "wires": []
    },
    {
        "id": "b5ca97bb64049b81",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "Prod Current",
        "group": "0293568893b1ffee",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Prod Current",
        "label": "Amps",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 880,
        "wires": []
    },
    {
        "id": "a3a203786a363b25",
        "type": "ui_gauge",
        "z": "5176e2d2ea02e020",
        "name": "Prod Temperature",
        "group": "0293568893b1ffee",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Prod Temperature",
        "label": "degrees F",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#0490fb",
            "#f9de58",
            "#ca3838"
        ],
        "seg1": "120",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "0abcbd0e68cb41a5",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "Lab aPower",
        "group": "a9173adc71da33d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Lab aPower",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "835f3a35793c092f",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "Lab Voltage",
        "group": "a9173adc71da33d3",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Lab Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "130",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffd500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "26ccf4e26df00f84",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "Lab Current",
        "group": "a9173adc71da33d3",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Lab Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff40",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "40a170099dc55fc4",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "Lab Temperature",
        "group": "a9173adc71da33d3",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Lab Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "30",
        "ymax": "150",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0055ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c2c593f7cfc40529",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "EV aPower",
        "group": "cce4416e59363f0d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "EV aPower",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "67e74668864f24f6",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "EV Voltage",
        "group": "cce4416e59363f0d",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "EV Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "130",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffd500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "0971fe7d39e3456d",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "EV Current",
        "group": "cce4416e59363f0d",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "EV Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff40",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "3e9560bba84f5bd5",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "EV Temperature",
        "group": "cce4416e59363f0d",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "EV Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "30",
        "ymax": "150",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0055ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a2741bd9607de148",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "Prod aPower",
        "group": "10a8ce8f84771db5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Prod aPower",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "4e86441090543a66",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "Prod Voltage",
        "group": "10a8ce8f84771db5",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Prod Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "130",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffd500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "42e586e116eb6c89",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "Prod Current",
        "group": "10a8ce8f84771db5",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Prod Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff40",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "6a822d795b2d8592",
        "type": "ui_chart",
        "z": "5176e2d2ea02e020",
        "name": "Prod Temperature",
        "group": "10a8ce8f84771db5",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Prod Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Yet",
        "dot": false,
        "ymin": "30",
        "ymax": "150",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0055ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#ffff00"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "c285bff8df14a086",
        "type": "debug",
        "z": "5176e2d2ea02e020",
        "name": "debug 0",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "644a35a48bc5ca4f",
        "type": "mqtt in",
        "z": "840eee6fa338866e",
        "name": "vultr2 websites",
        "topic": "KTBMES/+/websites/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dd0c7c3266a0ffe8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "9c2ff92227c0a009",
                "7f97f001bb8db050"
            ]
        ]
    },
    {
        "id": "7b9470a88a6f80c4",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "debug synology",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 660,
        "wires": []
    },
    {
        "id": "55c19c0fd758be21",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "KTBCS HTTP Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "347baa5eb343b836",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "HTTP SKINNER Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "364448635edd2f3a",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "HTTPS KINNER Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 560,
        "wires": []
    },
    {
        "id": "6864fafd9945338e",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "KTBCS HTTPS Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 360,
        "wires": []
    },
    {
        "id": "7f97f001bb8db050",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Change Message",
        "func": "// Distribute status to appropriate dashboard output based on service tag\n// Extract tag and status, create output message \n\nif (!msg.topic || typeof msg.topic !== 'string') {\n    node.error(\"Invalid or missing topic\", msg);\n    return null;\n}\n\nconst topic = msg.topic.toLowerCase(); // Fixed typo\nconst topic_parts = topic.split('/');\n\nif (topic_parts.length < 3) {\n    node.error(\"Topic must have at least 3 segments\", msg);\n    return null;\n}\n\nlet tag = topic_parts[topic_parts.length - 1];\nlet method = topic_parts[topic_parts.length - 2];\nlet node_name = topic_parts[topic_parts.length - 3];\n\nlet outputMsg = {\n    payload: msg.payload,\n    tag: tag,\n    method: method,\n    node: node_name,\n    topic: msg.topic\n};\n\nreturn outputMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "6d3fe6d8d365735a",
                "088eb9e4aceb7a96"
            ]
        ]
    },
    {
        "id": "9c2ff92227c0a009",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "b8b2dcf20c33ce18",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "Timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "c118122af51e1f78",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "debug otherwise",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "6d3fe6d8d365735a",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "debug Change Message Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "088eb9e4aceb7a96",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Determine Output",
        "func": "// Distribute status to appropriate dashboard output based on service tag\n\n// This is for a multi-output function node with 7 outputs:\n// Output 1: tag == 'last_published'\n// Output 2: node == 'ktbcs' and method == 'http' and tag == 'result'\n// Output 3: node == 'ktbcs' and method == 'https' and tag == 'result'\n// Output 4: node == 'skinner' and method == 'http' and tag == 'result'\n// Output 5: node == 'skinner' and method == 'https' and tag == 'result'\n// Output 6: node == 'nas' and method == 'http' and tag == 'result'\n// Output 7: reset (sends false when tag == 'reset')\n// Note: There is no https test for nas\n\nif (!msg.topic || typeof msg.topic !== 'string') {\n    node.error(\"Invalid or missing topic\", msg);\n    return null;\n}\n\nconst topic = msg.topic.toLowerCase();\nconst topic_parts = topic.split('/');\n\nif (topic_parts.length < 3) {\n    node.error(\"Topic must have at least 3 segments\", msg);\n    return null;\n}\n\nlet tag = topic_parts[topic_parts.length - 1];\nlet method = topic_parts[topic_parts.length - 2];\nlet node_name = topic_parts[topic_parts.length - 3];\n\nlet outputMsg = {\n    payload: msg.payload,\n    tag: tag,\n    method: method,\n    node: node_name\n};\n\n// Define output positions for clarity\nconst OUTPUT_LAST_PUBLISHED = 0;\nconst OUTPUT_KTBCS_HTTP = 1;\nconst OUTPUT_KTBCS_HTTPS = 2;\nconst OUTPUT_SKINNER_HTTP = 3;\nconst OUTPUT_SKINNER_HTTPS = 4;\nconst OUTPUT_NAS_HTTP = 5;\nconst OUTPUT_RESET = 6;\n\n// Initialize all outputs to null\nlet outputs = new Array(7).fill(null);\n\n// check for reset first\nif (tag === 'reset') {\n    // Send false to reset output\n    outputs[OUTPUT_RESET] = false;\n    return outputs;\n\n    // check for timestamp\n} else if (tag === 'last_published') {\n    // Send to output 1\n    outputs[OUTPUT_LAST_PUBLISHED] = outputMsg;\n    return outputs;\n\n    // if tag is not 'last_published' or 'reset', it better be 'result'\n} else if (tag !== 'result') {\n    // Invalid tag - not 'last_published', 'result', or 'reset'\n    node.error(`Invalid tag: ${tag}. Expected 'last_published', 'result', or 'reset'`, msg);\n    return null;\n\n    // tag is result - the output of checking if the web site is up and returns the right string\n    // we route to a different LED based on node and method\n} else {\n    if (node_name === 'ktbcs' && method === 'http') {\n        outputs[OUTPUT_KTBCS_HTTP] = outputMsg;\n    } else if (node_name === 'ktbcs' && method === 'https') {\n        outputs[OUTPUT_KTBCS_HTTPS] = outputMsg;\n    } else if (node_name === 'skinner' && method === 'http') {\n        outputs[OUTPUT_SKINNER_HTTP] = outputMsg;\n    } else if (node_name === 'skinner' && method === 'https') {\n        outputs[OUTPUT_SKINNER_HTTPS] = outputMsg;\n    } else if (node_name === 'nas' && method === 'http') {\n        outputs[OUTPUT_NAS_HTTP] = outputMsg;\n    } else {\n        // Unknown node/method combination for result\n        node.error(`Unknown node/method combination for result: ${node_name}/${method}`, msg);\n        return null;\n    }\n    return outputs;\n}",
        "outputs": 7,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "b8b2dcf20c33ce18",
                "7a7ab2fb40de4f3f"
            ],
            [
                "55c19c0fd758be21",
                "2514110b1bb1af12"
            ],
            [
                "6864fafd9945338e",
                "960e06a5234cbb9b"
            ],
            [
                "347baa5eb343b836",
                "b9f2322b43537618"
            ],
            [
                "364448635edd2f3a",
                "67224c95b1692805"
            ],
            [
                "7b9470a88a6f80c4",
                "1102f171600ea168"
            ],
            [
                "c118122af51e1f78"
            ]
        ]
    },
    {
        "id": "7a7ab2fb40de4f3f",
        "type": "ui_text",
        "z": "840eee6fa338866e",
        "group": "ce5634c22cb14e37",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "TimeStamp",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "2514110b1bb1af12",
        "type": "ui_led2",
        "z": "840eee6fa338866e",
        "order": 0,
        "group": "6b5c250edfe9724d",
        "width": 0,
        "height": 0,
        "label": "KTBCS HTTP",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "KTBCS HTTP LED",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "960e06a5234cbb9b",
        "type": "ui_led2",
        "z": "840eee6fa338866e",
        "order": 0,
        "group": "6b5c250edfe9724d",
        "width": 0,
        "height": 0,
        "label": "KTBCS HTTPS",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "KTBCS HTTPS LED",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "b9f2322b43537618",
        "type": "ui_led2",
        "z": "840eee6fa338866e",
        "order": 0,
        "group": "1ddea1dfc6a0ebed",
        "width": 0,
        "height": 0,
        "label": "SKINNER HTTP",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "SKINNER HTTP LED",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "67224c95b1692805",
        "type": "ui_led2",
        "z": "840eee6fa338866e",
        "order": 0,
        "group": "1ddea1dfc6a0ebed",
        "width": 0,
        "height": 0,
        "label": "SKINNER HTTPS",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "SKINNER HTTPS LED",
        "x": 1020,
        "y": 600,
        "wires": []
    },
    {
        "id": "1102f171600ea168",
        "type": "ui_led2",
        "z": "840eee6fa338866e",
        "order": 0,
        "group": "0cbeca01ac5e0c11",
        "width": 0,
        "height": 0,
        "label": "NAS HTTP",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "NAS HTTP LED",
        "x": 1000,
        "y": 700,
        "wires": []
    },
    {
        "id": "a9509883a9be0ae9",
        "type": "mqtt in",
        "z": "1ea66e6d203988a2",
        "name": "Vultr2 sensors raw battery",
        "topic": "pi1/sensors/raw/+/battery_ok",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "40227b344b006862",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "8dcf8b552ace98fd",
                "1e7b5cc3b2c75eae"
            ]
        ]
    },
    {
        "id": "8dcf8b552ace98fd",
        "type": "function",
        "z": "1ea66e6d203988a2",
        "name": "Parse Out Device ID",
        "func": "// Extract device ID from topic (next to last element in path)\nconst topicParts = msg.topic.split('/');\nconst deviceId = topicParts[topicParts.length - 2]; // Next to last element\n\nconst battery_ok = msg.payload\nlet note = \"No issues\"\n\n// Function to get current local date/time in YYYY-MM-DD hh:mm format\nfunction getCurrentLocalDateTime() {\n    const now = new Date();\n    const year = now.getFullYear();\n    const month = String(now.getMonth() + 1).padStart(2, '0');\n    const day = String(now.getDate()).padStart(2, '0');\n    const hours = String(now.getHours()).padStart(2, '0');\n    const minutes = String(now.getMinutes()).padStart(2, '0');\n    \n    return `${year}-${month}-${day} ${hours}:${minutes}`;\n}\n\n// Optional error checking\nif (typeof deviceId === 'undefined') {\n    note = \"Invalid topic format\";\n    node.error(note, msg);\n}\n\nif (typeof msg.payload !== 'number') {\n    note = \"Invalid payload type\";\n    node.error(note, msg);\n\n}\n\n// Create new payload object\nconst newPayload = {\n    timestampS: getCurrentLocalDateTime(),\n    device_id: deviceId,\n    battery_ok: battery_ok,\n    note: note\n};\n\n// Create new message with clean payload\nconst newMsg = {\n    payload: newPayload,\n    // Optional: Carry through original properties\n    _msgid: msg._msgid,\n    topic: msg.topic\n};\n\n\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "b196f56b42852b2c",
                "db94772040f670f2"
            ]
        ]
    },
    {
        "id": "b196f56b42852b2c",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Parsed Device_ID",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "db94772040f670f2",
        "type": "function",
        "z": "1ea66e6d203988a2",
        "name": "device_id to device_name",
        "func": "// Device Name Lookup Function Node\nconst deviceLookup = {\n    \"37\": \"Living_Room\",\n    \"172\": \"Patio\",\n    \"164\": \"Porch\",\n    \"79\": \"Shrine_Room\",\n    \"999\": \"Test\"\n    // Add more mappings as needed\n};\n\n// Get device ID from incoming message\nconst deviceId = msg.payload.device_id;\nconst timestampS = msg.payload.timestampS;\nconst battery_ok = msg.payload.battery_ok;\n\n// Determine device name\nconst deviceName = deviceLookup[deviceId] || `UNKNOWN_${deviceId}`;\n\n// Create new payload\nconst newPayload = {\n    device_id: deviceId,\n    device_name: deviceName,\n    timestampS: timestampS,\n    battery_ok: battery_ok\n};\n\n// Optional: Add diagnostic info\nnewPayload.lookup_status = deviceLookup[deviceId] \n    ? \"Matched\" \n    : \"Fallback\";\n\n// Return enhanced message\nreturn {\n    payload: newPayload,\n    _msgid: msg._msgid,\n    topic: msg.topic\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 400,
        "wires": [
            [
                "d162b4fcb226e297",
                "8f60cd5358ee5d7b",
                "bb3adde2942e298a"
            ]
        ]
    },
    {
        "id": "d162b4fcb226e297",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Mapped Device_Name",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "8f60cd5358ee5d7b",
        "type": "function",
        "z": "1ea66e6d203988a2",
        "name": "Parse_into_devices",
        "func": "// Add error checking\nif (!msg.payload || typeof msg.payload.device_name === 'undefined') {\n    node.error(\"Invalid message format\", msg);\n    return null;\n}\n\nlet deviceName = msg.payload.device_name;\nlet timestampS = msg.payload.timestampS;\nlet batteryOk = msg.payload.battery_ok === 1 ? true : msg.payload.battery_ok === 0 ? false : null;\n\n// output payload should be boolean\n// other message attributes defined for email output\nlet newMsg = {\n    payload: batteryOk,\n    batteryOk: batteryOk,\n    deviceName: deviceName,\n    timestampS: timestampS\n};\n\nswitch (deviceName) {\n    case \"Living_Room\":\n        return [newMsg, null, null, null, null];\n    case \"Patio\":\n        return [null, newMsg, null, null, null];\n    case \"Shrine_Room\":\n        return [null, null, newMsg, null, null];\n    case \"Porch\":\n        return [null, null, null, newMsg, null];\n    default:\n        return [null, null, null, null, newMsg];\n}\n\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "529e8634a00f2cab",
                "024255b861340b87",
                "d9b0928d75a570eb",
                "bda8464a68efb64d"
            ],
            [
                "ca4c6e04643a2dd4",
                "8b87a5e51e834ab0",
                "8c6cb55211866722",
                "2728cdb108560af1"
            ],
            [
                "2a7071bd382a4648",
                "ceab5b3075dfcb9d",
                "85c56232342e452e",
                "bbeacf77bceebb5c"
            ],
            [
                "2c013d7ae1fcceba",
                "c2fecbf6f8f053e6",
                "e3eb996717ab8e54",
                "96f71696799ccba1"
            ],
            [
                "a7d2a18eef244c92"
            ]
        ]
    },
    {
        "id": "529e8634a00f2cab",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Living_Room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 40,
        "wires": []
    },
    {
        "id": "ca4c6e04643a2dd4",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Patio",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 80,
        "wires": []
    },
    {
        "id": "2a7071bd382a4648",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Shrine_Room",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c013d7ae1fcceba",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Porch",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 160,
        "wires": []
    },
    {
        "id": "a7d2a18eef244c92",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Unknown",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 200,
        "wires": []
    },
    {
        "id": "1bb68fec61e2e3a9",
        "type": "e-mail",
        "z": "1ea66e6d203988a2",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "NONE",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "karltbraun@gmail.com",
        "dname": "Email on bad battery",
        "x": 1140,
        "y": 620,
        "wires": []
    },
    {
        "id": "1e7b5cc3b2c75eae",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Raw Battery Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "364d11371878fb08",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Alert on Bad Battery",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 500,
        "wires": []
    },
    {
        "id": "2dc7fc0302194ab7",
        "type": "inject",
        "z": "1ea66e6d203988a2",
        "name": "Inject Bad Battery Status",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pi1/sensors/raw/999/battery_ok ",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "1e7b5cc3b2c75eae",
                "8dcf8b552ace98fd"
            ]
        ]
    },
    {
        "id": "bb3adde2942e298a",
        "type": "function",
        "z": "1ea66e6d203988a2",
        "name": "Determine Battery Status for Alerts",
        "func": "// if device_name starts with UNKNOWN, return null\nif (msg.payload.device_name.startsWith(\"UNKNOWN\")) {\n    return null;\n}\n\n// if battery_ok is an integer == 1, battery is OK\n// we don't report it\nif (msg.payload.battery_ok === 1) {\n    return null;\n}\n\n// we have either a false (0) or some other value\nlet subject = msg.payload.device_name + \" Battery Status Not OK \" + msg.payload.battery_ok;\n\nlet line1 = \"Alert Generated At: \" + new Date().toLocaleString() + \"\\n\";\nlet line2 = \"Device: \" + msg.payload.device_name + \"\\n\";\nlet line3 = \"Battery Status: \" + msg.payload.battery_ok + \"\\n\";\n\nlet newMsg = {\n    \"topic\": subject,\n    \"payload\": line1 + line2 + line3\n}\nreturn newMsg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 560,
        "wires": [
            [
                "364d11371878fb08",
                "1bb68fec61e2e3a9"
            ]
        ]
    },
    {
        "id": "024255b861340b87",
        "type": "ui_text",
        "z": "1ea66e6d203988a2",
        "group": "ca7598637b19f38a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Living Room Time Stamp",
        "label": "",
        "format": "{{msg.timestampS}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1670,
        "y": 240,
        "wires": []
    },
    {
        "id": "d9b0928d75a570eb",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Living Room",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 200,
        "wires": []
    },
    {
        "id": "8b87a5e51e834ab0",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Patio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 320,
        "wires": []
    },
    {
        "id": "8c6cb55211866722",
        "type": "ui_text",
        "z": "1ea66e6d203988a2",
        "group": "ca7598637b19f38a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Patio Time Stamp",
        "label": "",
        "format": "{{msg.timestampS}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 360,
        "wires": []
    },
    {
        "id": "ceab5b3075dfcb9d",
        "type": "ui_text",
        "z": "1ea66e6d203988a2",
        "group": "ca7598637b19f38a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "ShrineRoom Time Stamp",
        "label": "",
        "format": "{{msg.timestampS}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1670,
        "y": 480,
        "wires": []
    },
    {
        "id": "c2fecbf6f8f053e6",
        "type": "ui_text",
        "z": "1ea66e6d203988a2",
        "group": "ca7598637b19f38a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Porch Time Stamp",
        "label": "",
        "format": "{{msg.timestampS}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1650,
        "y": 600,
        "wires": []
    },
    {
        "id": "bda8464a68efb64d",
        "type": "ui_led2",
        "z": "1ea66e6d203988a2",
        "order": 0,
        "group": "f704b1b3e654081a",
        "width": 0,
        "height": 0,
        "label": "Living Room",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Living Room LED",
        "x": 1650,
        "y": 280,
        "wires": []
    },
    {
        "id": "2728cdb108560af1",
        "type": "ui_led2",
        "z": "1ea66e6d203988a2",
        "order": 1,
        "group": "f704b1b3e654081a",
        "width": 0,
        "height": 0,
        "label": "Patio Battery",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Patio Battery LED",
        "x": 1650,
        "y": 400,
        "wires": []
    },
    {
        "id": "85c56232342e452e",
        "type": "ui_led2",
        "z": "1ea66e6d203988a2",
        "order": 2,
        "group": "f704b1b3e654081a",
        "width": 0,
        "height": 0,
        "label": "Shrine Room",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Shrine Room LED",
        "x": 1650,
        "y": 520,
        "wires": []
    },
    {
        "id": "e3eb996717ab8e54",
        "type": "ui_led2",
        "z": "1ea66e6d203988a2",
        "order": 3,
        "group": "f704b1b3e654081a",
        "width": 0,
        "height": 0,
        "label": "Porch Battery",
        "property": "payload",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Porch Battery LED",
        "x": 1650,
        "y": 640,
        "wires": []
    },
    {
        "id": "bbeacf77bceebb5c",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Shrineroom",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 440,
        "wires": []
    },
    {
        "id": "96f71696799ccba1",
        "type": "debug",
        "z": "1ea66e6d203988a2",
        "name": "Porch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 560,
        "wires": []
    }
]