Flow Service Status 2-0 20251028T1711.json
[
    {
        "id": "106b081fa010a5b5",
        "type": "subflow",
        "name": "Dashboard Subflow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 300,
                "wires": [
                    {
                        "id": "01efc509a399bb2e"
                    },
                    {
                        "id": "fa3da8f03b399d04"
                    },
                    {
                        "id": "c1ee885c6ee32c04"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f0c8a2686f075ce6",
        "type": "ui_led",
        "z": "106b081fa010a5b5",
        "order": 1,
        "group": "6b5c250edfe9724d",
        "width": "",
        "height": "",
        "label": "KTBCS HTTP Status",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "KTBCS HTTP Status",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "4c23496360e22a9c",
        "type": "debug",
        "z": "106b081fa010a5b5",
        "name": "debug synology",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "b3884213132ceead",
        "type": "ui_led",
        "z": "106b081fa010a5b5",
        "order": 7,
        "group": "0cbeca01ac5e0c11",
        "width": "",
        "height": "",
        "label": "KTBMES-NAS-01 Status",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "KTBMES-NAS-01 Status",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "25fc7c5e113349a4",
        "type": "debug",
        "z": "106b081fa010a5b5",
        "name": "debug HTTP KTBCS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "c069c7f6c192017f",
        "type": "ui_led",
        "z": "106b081fa010a5b5",
        "order": 1,
        "group": "6b5c250edfe9724d",
        "width": "",
        "height": "",
        "label": "KTBCS HTTPS Status",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "KTBCS HTTPS Status",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "c35503e3d7e86ee7",
        "type": "ui_led",
        "z": "106b081fa010a5b5",
        "order": 4,
        "group": "1ddea1dfc6a0ebed",
        "width": "",
        "height": "",
        "label": "SKINNER HTTP Status",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "SKINNER HTTP Status",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "2aa787343927f1b9",
        "type": "ui_led",
        "z": "106b081fa010a5b5",
        "order": 4,
        "group": "1ddea1dfc6a0ebed",
        "width": "",
        "height": "",
        "label": "SKINNER HTTPS Status",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "SKINNER HTTPS Status",
        "x": 970,
        "y": 600,
        "wires": []
    },
    {
        "id": "01efc509a399bb2e",
        "type": "function",
        "z": "106b081fa010a5b5",
        "name": "Get Time String",
        "func": "// Get current time and format it as \"YYYY-MM-DD hh:mm\"\n// const now = new Date();\n// const year = now.getFullYear();\n// const month = String(now.getMonth() + 1).padStart(2, '0');\n// const day = String(now.getDate()).padStart(2, '0');\n// const hours = String(now.getHours()).padStart(2, '0');\n// const minutes = String(now.getMinutes()).padStart(2, '0');\n\n// const formattedTime = `${year}-${month}-${day} ${hours}:${minutes}`;\n\n// // Set the formatted time to msg.payload for Node-RED output\n// msg.payload = formattedTime;\n\nconst newMsg = {}; \nnewMsg.payload = msg.persist.timestampS;\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 200,
        "wires": [
            [
                "757d1dc0f187c3e1"
            ]
        ]
    },
    {
        "id": "757d1dc0f187c3e1",
        "type": "ui_text",
        "z": "106b081fa010a5b5",
        "group": "ca17497fede96a1e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Last Checked Timestamp",
        "label": "Last Checked",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "1f30652a33e87622",
        "type": "function",
        "z": "106b081fa010a5b5",
        "name": "Determine Output Path",
        "func": "// Distribute status to appropriate dashboard output based on service tag\n\n// Extract tag and status, create output message \nconst tag = msg.persist.tag;\nconst matchStatus = msg.persist.match;\nconst outputMsg = { payload: matchStatus };\n\n// Route to correct output based on tag\nswitch (tag.toUpperCase()) {\n    case 'KTBCS_HTTP':\n        return [outputMsg, null, null, null, null]; \n    case 'KTBCS_HTTPS':\n        return [null, outputMsg, null, null, null]; \n    case 'SKINNER_HTTP':\n        return [null, null, outputMsg, null, null]; \n    case 'SKINNER_HTTPS':\n        return [null, null, null, outputMsg, null]; \n    case 'NAS_HTTP':\n        return [null, null, null, null, outputMsg]; \n    case 'RESET':\n        // set everything to false\n        outputMsg.payload = false;\n        return [outputMsg, outputMsg, outputMsg, outputMsg, outputMsg];\n    default:\n        node.warn(`Unknown tag: ${tag}`);\n        return null;\n} ",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "f0c8a2686f075ce6",
                "25fc7c5e113349a4"
            ],
            [
                "c069c7f6c192017f",
                "44d5bd1eb930b699"
            ],
            [
                "c35503e3d7e86ee7",
                "84369f5f2e5a7a93"
            ],
            [
                "2aa787343927f1b9",
                "b9fe430ee23d9aa7"
            ],
            [
                "4c23496360e22a9c",
                "b3884213132ceead"
            ]
        ]
    },
    {
        "id": "fa3da8f03b399d04",
        "type": "debug",
        "z": "106b081fa010a5b5",
        "name": "Dashboard Subflow Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 560,
        "wires": []
    },
    {
        "id": "84369f5f2e5a7a93",
        "type": "debug",
        "z": "106b081fa010a5b5",
        "name": "HTTP SKINNER Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "b9fe430ee23d9aa7",
        "type": "debug",
        "z": "106b081fa010a5b5",
        "name": "HTTPS KINNER Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "44d5bd1eb930b699",
        "type": "debug",
        "z": "106b081fa010a5b5",
        "name": "debug HTTPS KTBCS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "c1ee885c6ee32c04",
        "type": "function",
        "z": "106b081fa010a5b5",
        "name": "Wait2 - Wait for in_process_2",
        "func": "// Wait for svc_in_process_2 with timeout protection\n\n// Set sleep duration in milliseconds\nconst sleepDuration = 10;\n\nasync function waitForProcessFlag(timeoutMs = 10000) { // 10 second timeout\n    const startTime = Date.now();\n    \n    while (flow.get('svc_in_process_2') === true) {\n        if (Date.now() - startTime > timeoutMs) {\n            throw new Error(\"Timeout waiting for svc_in_process_2 to become false\");\n        }\n        await new Promise(resolve => setTimeout(resolve, sleepDuration));\n    }\n}\n\n(async () => {\n    try {\n        node.log(\"Waiting for svc_in_process_2 to become false...\");\n        await waitForProcessFlag();\n        node.log(\"svc_in_process_2 is now false - proceeding\");\n        node.send(msg);\n    } catch (error) {\n        node.error(\"Wait failed: \" + error.message);\n        // Optionally send to error output or handle gracefully\n    }\n})();",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 300,
        "wires": [
            [
                "f58d8c1c24fb474a"
            ]
        ]
    },
    {
        "id": "f58d8c1c24fb474a",
        "type": "change",
        "z": "106b081fa010a5b5",
        "name": "set in_process_2",
        "rules": [
            {
                "t": "set",
                "p": "svc_in_process_2",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "1f30652a33e87622"
            ]
        ]
    },
    {
        "id": "63f03136b5766166",
        "type": "complete",
        "z": "106b081fa010a5b5",
        "name": "",
        "scope": [
            "1f30652a33e87622"
        ],
        "uncaught": false,
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "4a860a5c46cf4898"
            ]
        ]
    },
    {
        "id": "4a860a5c46cf4898",
        "type": "change",
        "z": "106b081fa010a5b5",
        "name": "reset in_process_2",
        "rules": [
            {
                "t": "set",
                "p": "svc_in_process_2",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0237a49df17ed99f",
        "type": "ui_text",
        "z": "106b081fa010a5b5",
        "group": "ca17497fede96a1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "HTTP Row Header",
        "label": "HTTP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "ed59d3af06adece4",
        "type": "ui_text",
        "z": "106b081fa010a5b5",
        "group": "ca17497fede96a1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "HTTPS Row Header",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "6b5c250edfe9724d",
        "type": "ui_group",
        "name": "KTBCS",
        "tab": "2e7550ec53d741cf",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cbeca01ac5e0c11",
        "type": "ui_group",
        "name": "NAS",
        "tab": "2e7550ec53d741cf",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ddea1dfc6a0ebed",
        "type": "ui_group",
        "name": "SKINNER",
        "tab": "2e7550ec53d741cf",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca17497fede96a1e",
        "type": "ui_group",
        "name": "Row Label",
        "tab": "2e7550ec53d741cf",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e7550ec53d741cf",
        "type": "ui_tab",
        "name": "Service Status 2.0",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2afd6555804d5217",
        "type": "subflow",
        "name": "Check Status Subflow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "63429d191d736ad9"
                    },
                    {
                        "id": "7192510f6c35a3ac"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 80,
                "wires": [
                    {
                        "id": "4981824ce4ddc562",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "29f66b32ed9cf90a",
        "type": "http request",
        "z": "2afd6555804d5217",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "4981824ce4ddc562",
                "6aebb6af09be58dc"
            ]
        ]
    },
    {
        "id": "4981824ce4ddc562",
        "type": "function",
        "z": "2afd6555804d5217",
        "name": "Check HTTP Request",
        "func": "// input: \n//   msg.payload - the output of the HTTP request node\n//   msg.persist - preserved values from setup node\n//     msg.persist.method - original HTTP method\n//     msg.persist.url - original URL\n//     msg.persist.expected_string - string to look for in payload\n\nconst expected_string = msg.persist.expected_string;\nconst returned_string = String(msg.payload || \"\");\nconst match = returned_string.includes(expected_string);\n\n// copy all existing persist data\nconst newMsg = { ...msg };\n\n// update payload and persist.match\nnewMsg.payload = match;\nnewMsg.persist.match = match;\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "b289baa607c85df5"
            ]
        ]
    },
    {
        "id": "63429d191d736ad9",
        "type": "function",
        "z": "2afd6555804d5217",
        "name": "Setup HTTP Request",
        "func": "// Finish setting up the HTTP request\n\nconst newMsg = {};\n\n// HTTP Request node expects these parameters\n\nnewMsg.method = msg.method;\nnewMsg.url = msg.url;\nnewMsg.payload = null;\n\n// Store original values in a custom object (will persist)\n// as HTTP request will clear out payload top level\n\nnewMsg.persist = {\n    tag: msg.tag,\n    method: msg.method,\n    url: msg.url,\n    expected_string: msg.expected_string,\n    match: false,\n    timestamp: msg.timestamp,\n    timestampS: new Date(msg.timestamp).toLocaleString('sv-SE', {\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit',\n        hour: '2-digit',\n        minute: '2-digit',\n        hour12: false\n    }).replace(' ', ' ')\n};\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "29f66b32ed9cf90a",
                "b96a445283c77661"
            ]
        ]
    },
    {
        "id": "7192510f6c35a3ac",
        "type": "debug",
        "z": "2afd6555804d5217",
        "name": "Check Status Subflow Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 220,
        "wires": []
    },
    {
        "id": "b96a445283c77661",
        "type": "debug",
        "z": "2afd6555804d5217",
        "name": "Input to http request node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 20,
        "wires": []
    },
    {
        "id": "b289baa607c85df5",
        "type": "debug",
        "z": "2afd6555804d5217",
        "name": "Check Status Subflow Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "6aebb6af09be58dc",
        "type": "debug",
        "z": "2afd6555804d5217",
        "name": "Output of HTTP Request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "840eee6fa338866e",
        "type": "tab",
        "label": "Flow Service Status 2.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e83acb5830038ed",
        "type": "inject",
        "z": "840eee6fa338866e",
        "name": "Trigger Set inProcess ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "424c89f6f5a9f69f"
            ]
        ]
    },
    {
        "id": "21fa3d935caeeb47",
        "type": "inject",
        "z": "840eee6fa338866e",
        "name": "Trigger Unset inProcess",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "d45e7c20964dce7d"
            ]
        ]
    },
    {
        "id": "424c89f6f5a9f69f",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Set InProcess",
        "func": "flow.set('svc_inProcess', true);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d45e7c20964dce7d",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "ReSet InProcess",
        "func": "flow.set('svc_inProcess', false);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5d91cabd076cd407",
        "type": "inject",
        "z": "840eee6fa338866e",
        "name": "Start Updates",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "a0a746671ff4c12a"
            ]
        ]
    },
    {
        "id": "faffcd16db44e145",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Setup KTBCS HTTP",
        "func": "// Store preserved values in a custom object\nconst tag = \"KTBCS_HTTP\"\nconst url = \"http://ktbcs.xyz\";\nconst method = \"GET\";\nconst expected_string = \"<title>KTBCS - Professional Technology Consulting</title>\";\n\nconst newMsg = {};\n\nflow.set('svc_service', tag);\n\nnewMsg.tag = tag;\nnewMsg.url = url;\nnewMsg.method = method;\nnewMsg.expected_string = expected_string;\nnewMsg.timestamp = msg.payload;\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "9337426db1d16a1d"
            ]
        ]
    },
    {
        "id": "a0a746671ff4c12a",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Check And Set InProcess",
        "func": "// Check inProcess flow variable and control flow execution\n// If inProcess is true: we are still processing previously triggered flow.\n//     exit the flow (return null)\n// If inProcess is false: set it to true and proceed\n\nconst inProcess = flow.get('svc_in_process_1');\n\n// if already processing - exit the flow by returning null\nif (inProcess === true) {\n    node.warn(\"Flow already in process - exiting\");\n    flow.set('svc_aborted', true); \n    return null;\n}\n\n// Not processing - set inProcess flag to true and proceed\n// save time stamp for future flow reference\nflow.set('svc_aborted', false);\nflow.set('svc_in_process_1', true);\nnode.log(\"Set svc_in_process_1 to true - proceeding with flow\");\n\nflow.set('svc_lastCheckTime', msg.payload); // trigger passes time stamp\nflow.set('svc_lastCheckTimeS', new Date(msg.payload).toLocaleString());\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "faffcd16db44e145"
            ]
        ]
    },
    {
        "id": "9337426db1d16a1d",
        "type": "subflow:2afd6555804d5217",
        "z": "840eee6fa338866e",
        "name": "Check Status",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "02483067aef268cb",
                "8efa20019883a3f1",
                "fc56b7b7cc38fef5"
            ]
        ]
    },
    {
        "id": "4a73763198e0aded",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "ReSet InProcess",
        "func": "flow.set('svc_in_process_1', false);\n\nflow.set('svc_service', \"COMPLETE\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 660,
        "wires": [
            [
                "f0ea05cf30f9cafa"
            ]
        ]
    },
    {
        "id": "a053a0af3a034bbf",
        "type": "inject",
        "z": "840eee6fa338866e",
        "name": "Start Reset Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "18616fea7bc5efb5"
            ]
        ]
    },
    {
        "id": "18616fea7bc5efb5",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Reset Status",
        "func": "// setup input to DetermineOutputPath to set everything to false\n\n// Validate input timestamp\nif (!msg.payload) {\n    node.warn(\"No timestamp provided in msg.payload\");\n    return null;\n}\n\nconst newMsg = {};\nconst ts = msg.payload;\n\nnewMsg.payload = msg.payload;\nnewMsg.persist = {\n    tag: 'RESET',\n    match: false,\n    timestamp: ts,\n    timestampS: new Date(ts).toLocaleString('sv-SE', { \n        year: 'numeric', \n        month: '2-digit', \n        day: '2-digit', \n        hour: '2-digit', \n        minute: '2-digit',\n        hour12: false \n    }).replace(' ', ' ')\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 760,
        "wires": [
            [
                "6dc183d85fb34765",
                "e09959c7a03a254a"
            ]
        ]
    },
    {
        "id": "6dc183d85fb34765",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "Output of Reset Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 840,
        "wires": []
    },
    {
        "id": "02483067aef268cb",
        "type": "subflow:106b081fa010a5b5",
        "z": "840eee6fa338866e",
        "name": "",
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "8efa20019883a3f1",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Setup KTBCS HTTPS",
        "func": "// Store preserved values in a custom object\nconst tag = \"KTBCS_HTTPS\"\nconst url = \"https://ktbcs.xyz\";\nconst method = \"GET\";\nconst expected_string = \"<title>KTBCS - Professional Technology Consulting</title>\";\n\nconst newMsg = {};\n\nflow.set('svc_service', tag);\n\nnewMsg.tag = tag;\nnewMsg.url = url;\nnewMsg.method = method;\nnewMsg.expected_string = expected_string;\nnewMsg.timestamp = msg.payload;\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "f0e72b6797973924"
            ]
        ]
    },
    {
        "id": "f0e72b6797973924",
        "type": "subflow:2afd6555804d5217",
        "z": "840eee6fa338866e",
        "name": "Check Status",
        "x": 820,
        "y": 320,
        "wires": [
            [
                "bcb36cddc6192b8e",
                "2b16f75d96c52b24",
                "2f48c949a90415d1"
            ]
        ]
    },
    {
        "id": "7f9adf5819a394cd",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Setup SKINNER HTTPS",
        "func": "// Store preserved values in a custom object\nconst tag = \"SKINNER_HTTPS\"\nconst url = \"https://skinnereditorial.com\";\nconst method = \"GET\";\nconst expected_string = \"<title>Skinner Editorial Portfolio</title>\";\n\nconst newMsg = {};\n\nflow.set('svc_service', tag);\n\nnewMsg.tag = tag;\nnewMsg.url = url;\nnewMsg.method = method;\nnewMsg.expected_string = expected_string;\nnewMsg.timestamp = msg.payload;\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "b3fa8a4226e1215e"
            ]
        ]
    },
    {
        "id": "b3fa8a4226e1215e",
        "type": "subflow:2afd6555804d5217",
        "z": "840eee6fa338866e",
        "name": "Check Status",
        "x": 820,
        "y": 560,
        "wires": [
            [
                "4a73763198e0aded",
                "a500121952bd0593",
                "6be76ce0237a6c98"
            ]
        ]
    },
    {
        "id": "2b16f75d96c52b24",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Setup SKINNER HTTP",
        "func": "// Store preserved values in a custom object\nconst tag = \"SKINNER_HTTP\"\nconst url = \"http://skinnereditorial.com\";\nconst method = \"GET\";\nconst expected_string = \"<title>Skinner Editorial Portfolio</title>\";\n\nconst newMsg = {};\n\nflow.set('svc_service', tag);\n\nnewMsg.tag = tag;\nnewMsg.url = url;\nnewMsg.method = method;\nnewMsg.expected_string = expected_string;\nnewMsg.timestamp = msg.payload;\n\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "4805139e0f5edb6a"
            ]
        ]
    },
    {
        "id": "4805139e0f5edb6a",
        "type": "subflow:2afd6555804d5217",
        "z": "840eee6fa338866e",
        "name": "Check Status",
        "x": 820,
        "y": 460,
        "wires": [
            [
                "7f9adf5819a394cd",
                "b5ccba86b758dd46",
                "4484d6e8703339fa"
            ]
        ]
    },
    {
        "id": "bcb36cddc6192b8e",
        "type": "subflow:106b081fa010a5b5",
        "z": "840eee6fa338866e",
        "name": "",
        "x": 1160,
        "y": 360,
        "wires": []
    },
    {
        "id": "b5ccba86b758dd46",
        "type": "subflow:106b081fa010a5b5",
        "z": "840eee6fa338866e",
        "name": "",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "a500121952bd0593",
        "type": "subflow:106b081fa010a5b5",
        "z": "840eee6fa338866e",
        "name": "",
        "x": 1160,
        "y": 560,
        "wires": []
    },
    {
        "id": "e09959c7a03a254a",
        "type": "subflow:106b081fa010a5b5",
        "z": "840eee6fa338866e",
        "name": "",
        "x": 1160,
        "y": 760,
        "wires": []
    },
    {
        "id": "fc56b7b7cc38fef5",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "Check Status Returned KTBCS HTTP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 220,
        "wires": []
    },
    {
        "id": "2f48c949a90415d1",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "Check Status Returned KTBCS HTTPS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 320,
        "wires": []
    },
    {
        "id": "4484d6e8703339fa",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "Check Status Returned SKINNER HTTP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 420,
        "wires": []
    },
    {
        "id": "6be76ce0237a6c98",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "Check Status Returned SKINNER HTTPS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 520,
        "wires": []
    },
    {
        "id": "f0ea05cf30f9cafa",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "Reset 1 complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"---------Reset Complete ----------\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "f0b5fe1fc82a6c42",
        "type": "inject",
        "z": "840eee6fa338866e",
        "name": "Start Updates",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "ba20d13f5cb91229"
            ]
        ]
    },
    {
        "id": "ba20d13f5cb91229",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "Init Status Dictionary",
        "func": "// we are going to have a flow dictionary for our various objects\n// The dictionary will be called service_status \n// \n// The dictionary will be defined as follow:\n// service_status = {\n//     name: String,\n//     ping: Boolean,\n//     http: Boolean,\n//     https: Boolean,\n//     timestamp: Number,\n//     timestampS: String\n// }\n\n// Initialize flow dictionary service_status if it doesn't exist\nlet serviceStatus = flow.get('service_status') || {};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "68b822b76203866c"
            ]
        ]
    },
    {
        "id": "7880345a364c299f",
        "type": "debug",
        "z": "840eee6fa338866e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a1da71f16ef2d8e9",
        "type": "inject",
        "z": "840eee6fa338866e",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "7a0b12e488e523c2"
            ]
        ]
    },
    {
        "id": "7a0b12e488e523c2",
        "type": "change",
        "z": "840eee6fa338866e",
        "name": "Delete Flow Variables",
        "rules": [
            {
                "t": "delete",
                "p": "baterryStatuses",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "service_status",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "svc_aborted",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "svc_in_process_1",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "svc_in_process_2",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "svc_lastCheckTime",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "svc_lastCheckTimeS",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "svc_service",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "svc_inProcess",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "batteryStatuses",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "68b822b76203866c",
        "type": "function",
        "z": "840eee6fa338866e",
        "name": "function 1",
        "func": "flow.set('service_status.name', 'test_name');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1040,
        "wires": [
            []
        ]
    }
]