Flow House Temps 1 20251116T1008.json
[
    {
        "id": "ced2aca70f5720b9",
        "type": "tab",
        "label": "Flow House Temps",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "c270156a6261af94",
        "type": "mqtt in",
        "z": "ced2aca70f5720b9",
        "name": "Vultr2_KTB-MBP_house_weather_sensors",
        "topic": "KTBMES/+/sensors/house_weather_sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d45c3dec4c4a6843",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "bb80fe166d4f286b",
                "af254d6d90995492",
                "0b8c88ec98fa033b",
                "ba3aca7085d4de5a",
                "d6bf721b379255b3",
                "c1ab6e3cfed4e597"
            ]
        ]
    },
    {
        "id": "bb80fe166d4f286b",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "MQTT Full Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "af254d6d90995492",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "get_name_and_temperature",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    temperature_F: msg.payload.temperature_F\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "3792b5dd6d64f804",
                "553f03c6cefd9445"
            ]
        ]
    },
    {
        "id": "3792b5dd6d64f804",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Name and Temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "553f03c6cefd9445",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "Parse_into_devices_temperature",
        "func": "if (msg.payload.device_name) {\n    let temp = msg.payload.temperature_F;  // Store temperature first\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = temp;\n\n    switch (deviceName) {\n        case \"LIVINGROOM-C\":\n            return [msg, null, null, null];\n        case \"DECK-B\":\n            return [null, msg, null, null];\n        case \"SHRINEROOM-A\":\n            return [null, null, msg, null];\n        case \"PORCH-B\":\n            return [null, null, null, msg];\n    }\n}\nreturn null;\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 480,
        "wires": [
            [
                "e5b48b6ba2e9b59b",
                "934010de93efc2b7",
                "3fabd9eb194c594a"
            ],
            [
                "e5b48b6ba2e9b59b",
                "c5382572c1cedde2",
                "8c60b56e361ec469"
            ],
            [
                "e5b48b6ba2e9b59b",
                "88c7f3dd4f04c5dd",
                "2b498d888bec56e5"
            ],
            [
                "e5b48b6ba2e9b59b",
                "f114af3b0192d292",
                "1926cb7bc79077fd"
            ]
        ]
    },
    {
        "id": "e5b48b6ba2e9b59b",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Gauge and Chart Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "dc21382a4b161b46",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "Parse_into_devices_humidity",
        "func": "if (msg.payload.device_name) {\n    let hum = msg.payload.humidity;  // Store temperature first\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = hum;\n\n    switch (deviceName) {\n        case \"LIVINGROOM-C\":\n            return [msg, null, null];\n        case \"PATIO-B\":\n            return [null, msg, null];\n        case \"SHRINEROOM-A\":\n            return [null, null, msg];\n    }\nreturn null\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "5932e6fc5f1e003a",
                "c4734a53549fc46a",
                "12ac2b65fd21384f"
            ],
            [
                "5932e6fc5f1e003a",
                "cb892b3c72d22339",
                "6f61bf9161d7c39f"
            ],
            [
                "5932e6fc5f1e003a",
                "8b345737feaf4a6f",
                "a2138337c7343307"
            ]
        ]
    },
    {
        "id": "5932e6fc5f1e003a",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Humidity Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0b8c88ec98fa033b",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "get_name_and_humidty",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    humidity: msg.payload.humidity\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 880,
        "wires": [
            [
                "e81c1c4d2a702191",
                "dc21382a4b161b46"
            ]
        ]
    },
    {
        "id": "e81c1c4d2a702191",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Name and Humidit",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 940,
        "wires": []
    },
    {
        "id": "ba3aca7085d4de5a",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "get_timestamp",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    time: msg.payload.time\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "92659d9248657544",
                "3d4de0b1a4e3860f"
            ]
        ]
    },
    {
        "id": "3d4de0b1a4e3860f",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "TimeStamp Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "92659d9248657544",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "Parse_into_devices_for_output",
        "func": "if (msg.payload.device_name) {\n    let time = msg.payload.time.substring(0, 16)\n    let deviceName = msg.payload.device_name.toUpperCase();  // Convert to uppercase\n    msg.payload = time;\n\n    switch (deviceName) {\n        case \"LIVING_ROOM\":\n            return [msg, null, null, null];\n        case \"DECK\":\n            return [null, msg, null, null];\n        case \"SHRINE_ROOM\":\n            return [null, null, msg, null];\n        case \"PORCH\":\n            return [null, null, null, msg];\n    }\n}\nreturn null;\n\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 140,
        "wires": [
            [
                "e8b78b445bde8205"
            ],
            [
                "7bb0b549f0a14a09"
            ],
            [
                "575d7d95ff604d4f"
            ],
            [
                "9514c60355adba47"
            ]
        ]
    },
    {
        "id": "e8b78b445bde8205",
        "type": "ui_text",
        "z": "ced2aca70f5720b9",
        "group": "027eb46d65591c04",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "LIVING ROOM TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "7bb0b549f0a14a09",
        "type": "ui_text",
        "z": "ced2aca70f5720b9",
        "group": "42c67c9f328e0e16",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "PATIO TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "575d7d95ff604d4f",
        "type": "ui_text",
        "z": "ced2aca70f5720b9",
        "group": "be0945614af5eb4e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "SHRINEROOM TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 140,
        "wires": []
    },
    {
        "id": "9514c60355adba47",
        "type": "ui_text",
        "z": "ced2aca70f5720b9",
        "group": "714d6e7adb663e01",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "PORCH TIME",
        "label": "Time Updated",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "934010de93efc2b7",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "LIVING ROOM TEMP",
        "group": "027eb46d65591c04",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Living Room Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "c5382572c1cedde2",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "DECK-B TEMP",
        "group": "42c67c9f328e0e16",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Deck Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "88c7f3dd4f04c5dd",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "SHRINE ROOM TEMP",
        "group": "be0945614af5eb4e",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Shrine Room Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "f114af3b0192d292",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "PORCH TEMP",
        "group": "714d6e7adb663e01",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Porch Temperature",
        "label": "degrees F",
        "format": "{{value | number:0}}",
        "min": "32",
        "max": "90",
        "colors": [
            "#574ce6",
            "#55b4dd",
            "#f4aa0b"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "c4734a53549fc46a",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "LIVING ROOM HUMIDITY",
        "group": "027eb46d65591c04",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Living Room Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cb892b3c72d22339",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "DECK HUMIDITY",
        "group": "42c67c9f328e0e16",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Deck Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8b345737feaf4a6f",
        "type": "ui_gauge",
        "z": "ced2aca70f5720b9",
        "name": "SHRINE ROOM HUMIDITY",
        "group": "be0945614af5eb4e",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Shrine Room Humidity",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#fc3503",
            "#09f505",
            "#d40ccd"
        ],
        "seg1": "50",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 1300,
        "wires": []
    },
    {
        "id": "3fabd9eb194c594a",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "LIVING ROOM TEMP",
        "group": "027eb46d65591c04",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Living Room Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1926cb7bc79077fd",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "PORCH TEMP",
        "group": "714d6e7adb663e01",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Porch Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#027acf",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "2b498d888bec56e5",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "SHRINE ROOM TEMP",
        "group": "be0945614af5eb4e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "ShrineRoom Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f6e204",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8c60b56e361ec469",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "DECK-B TEMP",
        "group": "42c67c9f328e0e16",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Deck Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "32",
        "ymax": "90",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0bf0f4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "12ac2b65fd21384f",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "LIVING ROOM HUMIDITY",
        "group": "027eb46d65591c04",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Living Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "6f61bf9161d7c39f",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "DECK HUMIDITY",
        "group": "42c67c9f328e0e16",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Deck Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "a2138337c7343307",
        "type": "ui_chart",
        "z": "ced2aca70f5720b9",
        "name": "SHRINE ROOM HUMIDITY",
        "group": "be0945614af5eb4e",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Shrine Room Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Awaiting Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#a039f3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#986ebf",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "d6bf721b379255b3",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "get_name_and_battery_status",
        "func": "msg.payload = {\n    device_name: msg.payload.device_name,\n    battery_ok: msg.payload.battery_ok\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1440,
        "wires": [
            [
                "573fe0cbbb1cdae3",
                "7262c2a666e3197b"
            ]
        ]
    },
    {
        "id": "573fe0cbbb1cdae3",
        "type": "function",
        "z": "ced2aca70f5720b9",
        "name": "Parse_into_devices_battery_status",
        "func": "if (!msg.payload || !msg.payload.device_name) return null;\n\nconst deviceMap = {\n    \"LIVINGROOM-C\": 0,\n    \"PATIO-B\": 1,\n    \"SHRINEROOM-A\": 2,\n    \"PORCH-B\": 3\n};\n\nconst deviceName = msg.payload.device_name.toUpperCase();\nconst index = deviceMap[deviceName];\n\nif (index === undefined) return null;\n\nconst batteryValue = msg.payload.battery_ok;\nlet normalizedValue;\n\n// String Handling\nif (typeof batteryValue === \"string\") {\n    const cleanValue = batteryValue.trim().toLowerCase();\n    \n    if (cleanValue === \"1\" || cleanValue === \"true\") {\n        normalizedValue = true;\n    } \n    else if (cleanValue === \"0\" || cleanValue === \"false\") {\n        normalizedValue = false;\n    } \n    else {\n        normalizedValue = false;\n        node.warn(`Invalid string value for battery_ok: \"${batteryValue}\"`);\n    }\n}\n\n// Number Handling\nelse if (typeof batteryValue === \"number\") {\n    if (batteryValue === 1) {\n        normalizedValue = true;\n    } \n    else if (batteryValue === 0) {\n        normalizedValue = false;\n    } \n    else {\n        normalizedValue = false;\n        node.warn(`Invalid numeric value for battery_ok: ${batteryValue}`);\n    }\n}\n\n// Boolean Handling\nelse if (typeof batteryValue === \"boolean\") {\n    normalizedValue = batteryValue;\n}\n\n// Invalid Types\nelse {\n    normalizedValue = false;\n    node.warn(`Invalid type for battery_ok: ${typeof batteryValue}`);\n}\n\n// Create new message object\nconst newmsg = { ...msg, payload: normalizedValue };\n\n// Route message\nconst outputs = [null, null, null, null];\noutputs[index] = newmsg;\nreturn outputs;\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1560,
        "wires": [
            [
                "c086312c285c59d0"
            ],
            [
                "c086312c285c59d0"
            ],
            [
                "c086312c285c59d0"
            ],
            [
                "c086312c285c59d0"
            ]
        ]
    },
    {
        "id": "c086312c285c59d0",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Battery Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1560,
        "wires": []
    },
    {
        "id": "7262c2a666e3197b",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "Name_and_Battery",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1440,
        "wires": []
    },
    {
        "id": "c1ab6e3cfed4e597",
        "type": "debug",
        "z": "ced2aca70f5720b9",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "d45c3dec4c4a6843",
        "type": "mqtt-broker",
        "name": "n-vultr2",
        "broker": "45.63.82.34",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "027eb46d65591c04",
        "type": "ui_group",
        "name": "LIVING ROOM",
        "tab": "248ddb2a9a2b9c17",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42c67c9f328e0e16",
        "type": "ui_group",
        "name": "DECK",
        "tab": "248ddb2a9a2b9c17",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be0945614af5eb4e",
        "type": "ui_group",
        "name": "SHRINE ROOM",
        "tab": "248ddb2a9a2b9c17",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "714d6e7adb663e01",
        "type": "ui_group",
        "name": "PORCH",
        "tab": "248ddb2a9a2b9c17",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "248ddb2a9a2b9c17",
        "type": "ui_tab",
        "name": "House Temps All Up",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]